[2015-03-11 20:11] cadesalaberry opened #1 "Are you looking into how to retrieve chat history ?"
Maybe using the official API for once :)

https://developers.facebook.com/docs/graph-api/reference/v2.2/user/inbox

[2015-03-12 02:29] Schmavery commented on #1
Why not just access the official API directly for this?

[2015-03-17 14:17] #1 closed

[2015-04-11 21:45] jackwilsdon opened #3 "Change group chat title"
Is it possible to extend the API to change group chat titles?

Here's the message_batch form data sent when updating a group chat title:
[code]
The important line seems to be this:
[code]
And here are the differences between `message_batch[0]` when sending a message and when changing chat title;
[code]

[2015-04-12 21:17] bsansouci commented on #3
Yes it's definitely possible! We're working on it. Thanks for the package info, that really helps.

[2015-04-15 23:00] Schmavery commented on #3
Hey @jackwilsdon, is this something like what you're looking for?
14345129967c68ccc7ee226c3718271bb6b0a7a0

[2015-04-16 00:10] jackwilsdon commented on #3
Looks good. Doesn't seem to be available on NPM which is odd. Downloaded it via NPM, got 0.1.5 (latest) but the code for setTitle is missing. Had to clone the repo manually.

Also is there a way to monitor events happening in chat? Such as people joining/leaving or the bot leaving a chat?

[2015-04-16 00:25] bsansouci commented on #3
Awesome! We just wanted to get your approval. We'll look into listening to those events and get back to you. Can you create other issues for those?

[2015-04-16 18:32] #3 closed

[2015-04-16 18:33] jackwilsdon commented on #3
Issue resolved, thanks!

[2015-04-16 18:34] jackwilsdon opened #4 "Chat events"
Is it possible to extend the API to allow events to be listened for? By "events" I mean things like people joining/leaving a chat, chat title changing, etc.

[2015-04-18 18:36] Schmavery commented on #4
Hey Jack, we're looking into this (between exams!).  Definitely functionality we consider worth adding.  Are you trying to build something in particular with these features?

[2015-04-20 16:31] MadeOke opened #5 "Memory leak"
I use the example code
[code]

And every time someone chat, memory goes up by 200Kb~1Mb

[2015-04-21 17:52] ZDevelop opened #6 "can't send messages"
i cant seem to be able to send messages to new people,
if i try to send to a friend who i already had a conversation with it works fine.
if i try to send to someone who i never had a conversation with i always get
{ error: 'Send message failed.' }

im using the sendMessage Method, here my code
[code]
appreciate the help

[2015-04-22 18:45] Schmavery commented on #6
This should solve your problem.  Thanks for the bug report! :D

[2015-04-22 18:45] #6 closed

[2015-04-24 16:18] ZDevelop commented on #6
thanks man the fix you added works perfectly

[2015-04-27 17:17] ZDevelop opened #7 "getting user access token"
since the code logs in as the user provided i wondered if there is an option
to extract the access token from somewhere in index.js in order to work with facebook's graph api
in order to get list of friends, likes etc

[2015-04-28 01:08] Schmavery commented on #7
In the future we might consider adding support for graph API calls but for now, we're not using an access token in the login process so it unfortunately it doesn't seem trivial to provide one.  Our code currently logs in as the user directly.

Is there a feature in particular that you want to use from the graph API?  There may be another way we can access it.

[2015-04-28 08:30] ZDevelop commented on #7
Well currently my main objective is to get a list of all my friends on facebook

[2015-04-28 17:49] Tankenstein opened #8 "No option to suppress console.log?"
In my application, i'd like to create my own messages to the console, and not be bogged down in a constant stream of "Got answer in  3125". To do this, i just deleted all of the damn console.log-s, but i feel like you should implement a logger. Thanks for this module by the way, works great.

[2015-04-28 23:30] Schmavery commented on #8
@Tankenstein Is this something like what you're looking for?

[2015-04-29 03:27] #7 closed

[2015-04-29 03:29] bsansouci commented on #7
We made the access token available at api.getAccessToken() which returns a string.

This is a bit of a hack because it's using the Graph API Explorer's app ID. It has all permissions so drive safely ;)

[2015-04-29 03:57] Schmavery commented on #7
Just to let you know, you're probably going to want to use the /me/friends endpoint to get the list of all your friends.

[2015-04-29 07:54] Tankenstein commented on #8
This is better, since i can now override that and disable the messages, most optimal would be an option like login.disableMessages(), which i might implement and make a pull request. Thanks!

[2015-04-29 17:24] Schmavery commented on #8
Go for it! :D

[2015-04-29 17:24] #8 closed

[2015-05-09 11:53] widder opened #10 "echo example doesn't send messages"
There is no error in log

[code]

nodejs version: v0.10.25 and v0.12.0

[2015-05-09 18:05] Schmavery commented on #10
Hey @widder
Facebook recently made some changes that we fixed but hadn't published to npm yet.  Can you redownload the latest version (0.1.9) and let me know if this fixes your problem?

[2015-05-09 21:42] widder commented on #10
Great thank you. fixes my problem.

[2015-05-09 21:42] #10 closed

[2015-05-12 02:57] blazeu opened #11 "Error on getting access token"
Using version 0.1.9

[code]

[2015-05-12 05:32] jpacora commented on #11
The same here

[2015-05-12 07:56] Schmavery commented on #11
Can you print out the contents of `ret` right before [line 801 of index.html](https://github.com/Schmavery/facebook-chat-api/blob/0adcf87329f27e1e505d4976cd839f22d7d9ecd0/index.js#L801)?
It looks like the api is having trouble generating a graph access token, unfortunately I don't get this problem on our test account.

You could also see if it's possible for you to log into the account you're usin

[2015-05-12 10:14] blazeu commented on #11
here's ```ret```

[code]
it seems like it should be getting ```ret.jsmods.require[1][3][0]```
instead of ```ret.jsmods.require[0][3][0]``` on line [801](https://github.com/Schmavery/facebook-chat-api/blob/0adcf87329f27e1e505d4976cd839f22d7d9ecd0/index.js#L801)

[2015-05-12 11:37] Tankenstein commented on #11
Same problem here.

[2015-05-12 20:24] Schmavery commented on #11
Thanks for the info guys, I think I'll be able to push a fix within an hour or two.

[2015-05-12 20:33] Schmavery commented on #11
OK I published a fix to version 0.1.10.
Does this fix the problem for anyone?

[2015-05-12 21:58] Tankenstein commented on #11
Yes! fixed for me.

[2015-05-13 02:38] blazeu commented on #11
fixed.

[2015-05-13 02:38] #11 closed

[2015-05-22 15:45] Tingyus opened #12 "Listen own message"
Is it possible to add a function ( maybe just in api.listen ) to read user's own message ( send from web ) , this way , it's easier to make a chat assistant , thanks

[2015-05-23 05:26] Schmavery commented on #12
Working on this now.  You're going to want to be careful with this feature...

![bewareselflisten](https://cloud.githubusercontent.com/assets/2154522/7782523/9cd648e0-00ea-11e5-8209-9484c0d3154f.png)

[2015-05-23 05:39] Schmavery commented on #12
@Tingyus does this help your problem?
You can set the api to listen to itself with this command:
[code]

[2015-05-23 10:20] Tingyus commented on #12
thanks , it works perfectly , I am going to make my chat assistant :)

[2015-05-23 10:20] #12 closed

[2015-06-01 17:05] matteocontrini opened #13 "Refactor and modularize"
The code is really difficult to understand and I guess to mantain for you.
My suggestion is to move pieces of the code in other files, creating sub-modules or "extensions" to the main file.

For example, when you create the `api` like this:

[code]

The file gets really long and it is hard to understand when a function starts and ends. If every function of that api object had a file, everything wo

[2015-06-02 04:36] bsansouci commented on #13
Hey! Thanks for the input, we've been planning to release a refactored version in the near future.

Always curious to know what people are working on :)

[2015-06-05 05:48] bsansouci commented on #13
Do you find this helps?

[2015-06-05 06:32] matteocontrini commented on #13
That's better but why are you passing utils as parameter for example? Just require it inside the "src" files, modules are cached so you get the same thing.

[2015-06-05 07:01] bsansouci commented on #4
Hey @jackwilsdon, sorry it took so long but here it is finally. Just do `api.setOptions({listenEvents: true})` before calling api.listen. This will make api.listen receive events and message, which can be differentiated with their `type` field.

Let us know if you need any more help.

[2015-06-05 07:01] #4 closed

[2015-06-05 13:56] matteocontrini commented on #13
Another thing: why the created `api` object is not created as an [actual class](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript) that can have many instances?

[2015-06-05 15:34] bsansouci commented on #13
Because the API object doesn't need to be instantiated, it's just a collection of functions.

[2015-06-05 15:42] matteocontrini commented on #13
In fact that's how things work now. But a logical approach would be to allow multiple instance of a class, because now in a single application you can't have more than one instance of your API.

The fact that the module exports a `login` is a bit weird IMHO. I'd expect something like this:

[code]

Just a suggestion seeing how usually things work, with other modules :wink:

[2015-06-05 15:54] bsansouci commented on #13
You can already call login as many times as you want, there is nothing in the global scope. A new API object is returned every time.

I can't really see a use case for changing the API to become more OO in this case.

[2015-06-05 16:00] matteocontrini commented on #13
Sorry, I've seen `globalOptions` and, being the code nested in many levels, I couldn't find where it was declared :/
Anyway, as you prefer ;)

[2015-06-05 16:00] #13 closed

[2015-06-05 16:01] bsansouci commented on #13
No problems! We're working on making the login function clearer because it's a little bit daunting right now.

[2015-06-05 16:03] matteocontrini commented on #5
You shouldn't worry too much about memory, since the garbage collector will make its work with unused heap references when the memory value overtakes a certain threshold.

[2015-06-05 16:05] bsansouci commented on #5
We haven't looked into this yet, but it's possible that because of how we implemented `listen` the closure of the function gets bigger and bigger without us releasing any memory.
This needs further investigation :p

[2015-06-08 16:08] jackwilsdon opened #14 "Adding and removing people from group chats"
Is it possible to extend the API to allow management of users in group chats? (adding and removing people).

Here's the `message_batch` for adding someone to the chat;

[code]

Although I'm not sure if that's much help.

[2015-06-09 04:27] Schmavery commented on #14
Also messed up and forgot to tag the issue from 6001095, c6d8173, and a029abc.

[2015-06-09 04:28] Schmavery commented on #14
Hey @jackwilsdon,
This should now be implemented under the functions `api.addUserToGroup` and `api.removeUserFromGroup`.

[2015-06-09 11:10] jackwilsdon opened #15 "Requires `request-promise` but does not depend on it."
Line 4 of utils.js on version 2.0 still requires request-promise, however it is not included in the package.json. It looks like c54c677 was not included in the 2.0 `npm` release.

[2015-06-09 11:13] jackwilsdon commented on #15
So it turns out 67ef22 (version 2.0) was uploaded to npm before c54c677 was pushed to the repository (no longer requiring on request-promise), however it looks like request-promise was never a dependency of facebook-chat-api.

[2015-06-09 11:19] jackwilsdon opened #16 "Stickers are received as empty messages"
When sending a sticker, the following information is received by the bot;

[code]

Is there a way to detect a sticker and identify which sticker it is?

[2015-06-09 12:36] appa1303 opened #17 "Login as Page"
In the Facebook API there is a way to read Page messages (through Subscription to conversation) and reply, but it is very slow (delay of at least 5 sec).
Is there a way to use this API to connect as a Facebook page,  get the messages for the Page and reply ?

Thanks

[2015-06-09 17:46] Schmavery commented on #15
Good catch, thanks.

[2015-06-09 18:44] #15 closed

[2015-06-09 19:09] bsansouci commented on #16
We added a `sticker_id` and a `sticker_url` field to the object that you receive in your `listen` callback. Type will be `"sticker"`.

[2015-06-09 19:09] #16 closed

[2015-06-09 19:10] #14 closed

[2015-06-09 20:17] bsansouci commented on #17
Hey @appa1303 does this help?
You can just do `setOptions({pageId: YOU_PAGE_ID})` before calling `listen`. You can get that id just by going to your page and replacing "www" in the url with "graph". For example: https://graph.facebook.com/FuzzBeedOfficial will show FuzzBeed's page ID.

After that `listen` will only receive messages sent to that page and `sendMessage`/`sendSticker` will send on the

[2015-06-10 13:12] appa1303 commented on #17
Thanks,
But, when I set the pageId option, I don't get messages for the page or the owner of the page.
Looks like the messages are getting to the API there because I can see the effect on the log message "Got answer in" times.

[2015-06-10 14:32] Schmavery commented on #17
Hey @appa1303,
Sounds like you might be using the npm package.  We hadn't published the changes to npm yet so that you'd have a chance to let us know if it's what you wanted.
I just published a new release, try updating to 0.2.2 and let me know if that helps.  If you still have a problem then, we'll need to go back and see what we missed ;)

[2015-06-10 14:51] appa1303 commented on #17
Hi,
Thanks,
I already used the sources directly from GIT to overwrite the ...\node_modules\facebook-chat-api\
Just to be on the safe side, i also used the NPM just now.
But with the same results.
Sorry,

[2015-06-10 14:54] bsansouci commented on #17
Mmh strange. Does your bot have enough rights to see the messages on the Facebook page?

[2015-06-10 14:59] appa1303 commented on #17
I am logging in to the API with the user that originally created the page, so I assume it has all the required permissions, am i missing something ?
I will try again from scratch and create a new page.

[2015-06-10 15:05] Schmavery commented on #17
Is it possible that you're sending your test messages from the same account that the bot is logged into?  If you are, the bot won't see them by default.  Just a thought.

[2015-06-10 15:08] appa1303 commented on #17
I am using two different accounts.
Made another test, even with a completely new page (the login user is the creator and ADMIN) i am not getting any messages.
Again, looks like the API is getting something because i see effect on the "Got answer in" times.

[2015-06-10 18:07] Schmavery commented on #17
Can you add a console.log(v); right before the switch on [line 87 of src/listen.js](https://github.com/Schmavery/facebook-chat-api/blob/master/src/listen.js#L87) and let us know what the result is after receiving a message?

[2015-06-11 05:19] appa1303 commented on #17
Placed the Console.log
Looks like facebook is sending "alert_id: 1433948584071228" followed by HTML
I loaded the HTML and it looks like:
++++++++++++++++++++++++++++++++
![capture](https://cloud.githubusercontent.com/assets/12508835/8100137/4cca3a70-1010-11e5-827c-4ba0853a3af2.PNG)
+++++++++++++++++++++++++++++++++
So facebook is asking the user if he want to get messages from the Page, Looking fo

[2015-06-11 11:47] jackwilsdon commented on #17
Could you put output in a code block so it can be read easier? You could either put three grave accents (\`\`\`) before and after the output or indent it all by 4 spaces / 1 tab.

[2015-06-11 11:57] appa1303 commented on #17
[code]

[2015-06-11 11:59] appa1303 commented on #17
Here is the log in correct form

[code]

[2015-06-11 22:57] Schmavery commented on #17
Hey @appa1303,
Any chance you could add [our bot](https://www.facebook.com/profile.php?id=100009069356507) as an admin on your test page?  Might help with the debugging.

Also can we see your code somewhere?  This looks really strange and we can't reproduce it on our end so far.

[2015-06-12 00:50] marilafo opened #18 "Bypass captcha with several accounts"
Hi, I am Nicolas and I already sent you an email about that.
Briefly, I'm working on a bot which send messages to several people. Like your "Marc Zuckerbot" but sometimes captcha is needed (because recipients are not in my friend list), so I want to bypass the captcha.
For do that, I would like to use several Facebook accounts. The bot send messages with the first account and when it is blocked by

[2015-06-12 09:29] jijoamt opened #19 "app id"
We can see that an app_id is being used in this function graphAPIReadReq()  in index.js. Can we change it and use our own app id? when i tried to change it, i am getting this error  "Error retrieving access token, continuing..." .  What should i do to change the app id?

[2015-06-12 09:51] appa1303 commented on #17
Hi,
I use the example code the the readme (just add pageId)
Just to be on the safe side i created a new Facebook account and a new page, but the problem persists.
the page id is 890324534375690 and Facebook requires you need to accept it as friend to get Admin role. the test facebook i use account is: Test'a Bot'a

If you require i will send you the user and password as well

[2015-06-12 10:25] jackwilsdon commented on #19
It looks like `145634995501895` is the Facebook Graph Api Explorer's app ID. Not sure how or even if you can change it.

[2015-06-12 19:21] Schmavery commented on #19
Our access token is a bit of a hack, it might be changed in the future but for now you'll get better results using an actual Facebook graph api package like [this one] (https://github.com/Thuzi/facebook-node-sdk).

[2015-06-12 19:22] #19 closed

[2015-06-12 19:39] Schmavery commented on #17
Thanks for the information, we'll look at this some more as soon as we get a chance.

[2015-06-12 19:46] bsansouci commented on #18
Salut Nicolas, je ne penses que nous pouvons t'aider sans avoir ton code. Nous n'avons jamais testé sous ce use-case la.

[2015-06-14 12:41] marilafo commented on #18
Je t'ai envoyé un email contenant mon script.

[2015-06-14 18:16] bsansouci commented on #18
Ok je pense qu'il n'y a pas de problèmes avec le code. Par contre tu spam clairement toutes les 60 secondes, donc c'est normal que FB te shutdown. Quand tu login avec ton browser, essaye de spam toutes les 60sec puis tu verras FB va te demander un captcha ;)
Désolé je penses pas que nous pouvons t'aider :/

[2015-06-14 20:49] marilafo commented on #18
Oui j'avais bien compris ça. Le problème n'est pas l'apparition du captcha. Mais pourquoi, avec le même compte Facebook, il apparaît avec le script et pas avec le browser ? J'aimerais comprendre pourquoi Facebook interprète de manière différente les 2 clients. Logiquement, si je spamme avec le script, je dois être aussi être bloqué avec le browser (même si j'ai rien fait avec le browser) et vice v

[2015-06-15 01:42] bsansouci commented on #18
Ce que je voulais dire c'etait que FB te bloque probablement quand tu spam beaucoup. Est-ce que FB te bloque dès le premier message ou apres quelques messages?
Comme j'ai dit dans le message d'avant, si tu envoie le meme message a une personne regulierement avec le browser, FB va probablement te demander de mettre repondre a un captcha.

[2015-06-15 12:02] marilafo commented on #18
FB me bloque au bout d'une dizaine de personnes contactés.
Oui c'est même sûr, j'ai déjà testé.
Mais j'aimerais comprendre comment FB fait pour savoir si les requêtes viennent du script ou du browser ? Les cookies sont sensés être les mêmes et la variable "user-agent" présente dans le header des requêtes est la même aussi...

[2015-06-18 11:32] Hatish opened #20 "Now getting error on login (was working fine until now)"
Hi,

My app was logging into facebook and getting + sending messages with no problem. Then I started intermittently getting the error below. Now I get it all the time.

info Logging in...
info Logged in
info Initial requests...
info Request to null_state
info Request to reconnect
info Request to pull 1
ERR! TypeError: Cannot read property 'sticky' of undefined
[TypeError: Cannot read property 'sti

[2015-06-18 18:16] #20 closed

[2015-06-18 18:16] bsansouci commented on #20
This fix should do it ;)

[2015-06-18 18:21] bsansouci commented on #18
Je penses simplement que FB va dynamiquement to bloquer en fonction de ce que tu fais. Si tu envoie trop de message dans une session ils vont commencer a te demander des captcha. Si tu attends un peu, ils vont se calmer. On fait de notre mieux pour emuler ce que le browser fait, si tu trouve une difference nous sommes heureux d'accepter des Pull Request :D

[2015-06-18 18:21] bsansouci commented on #18
Je vais fermer ce thread parce que je ne penses pas que nous pouvons t'aider directement.

[2015-06-18 18:21] #18 closed

[2015-06-18 18:32] Hatish commented on #20
Thanks a lot :D

Awesome api, awesome support. :+1:

[2015-06-18 18:36] bsansouci commented on #20
We're really happy you're enjoying it! We're super interested in seeing what you're doing with it ;)

[2015-06-18 20:33] Hatish commented on #20
We're a South African company using the api within node to talk to our back-end service which communicates with our support app. So instead of people going into a store, they can simply use facebook and other chat channels to chat with store personnel. All in all, its pretty cool :)

[2015-06-18 22:36] marilafo commented on #18
Justement, ils ont tendance à se calmer quand je spamme par browser, si j'attends quelques heures ou quelques jours. Mais pas via le script, je suis "bloqué à vie" tant que je réponds pas au captcha. C'est pour ça que je me pose la question.
Merci quand même ! Bonne continuation ;)

[2015-06-18 22:46] Schmavery commented on #20
That's awesome!  Let us know if you ever end up wanting any extra features :)

[2015-06-23 04:35] blazeu opened #21 "Event is self-listen by default"

[2015-06-23 10:49] bsansouci commented on #21
Hey! Not totally sure what you mean by this. Can you give us more information about your problem? The default is false in the code and seemed to work when we tried it just now.

[2015-06-23 11:32] blazeu commented on #21
By event, i mean when type is "event", like when changing the title and adding or removing participant

[2015-06-23 14:05] bsansouci commented on #21
Ok should be fixed by 89c10f72d25007b53a9d042234973fe87a8764bb

[2015-06-23 14:06] #21 closed

[2015-06-26 20:35] Liryna opened #22 "Two-factor authentication"
Hi,

Is it possible to add Two-factor authentication compatibility ?
Or there is a technical issue to implement it ?

Thank again for this awesome api !

[2015-06-27 01:02] Schmavery commented on #22
Hi @Liryna!
Are you talking about login approvals?  As explained [here](https://www.facebook.com/notes/facebook-engineering/introducing-login-approvals/10150172618258920)?

[2015-06-27 07:33] Liryna commented on #22
yes!

[2015-06-28 08:55] blazeu commented on #22
there's currently no official facebook chat api,.
using access token for chat is impossible AFAIK.

if you want to hide your login information, you can store it in your machine's env var.

[2015-06-28 09:14] Liryna commented on #22
http://man7.org/linux/man-pages/man5/proc.5.html
strings /proc/[pid]/environ

So Two-factor authentication feature would give more security to this api.

[2015-06-28 22:39] Schmavery commented on #17
Update: We were able to reproduce the problems you were having, so hopefully we'll be able to come up with a fix in the near future.

[2015-06-29 02:13] Schmavery commented on #22
@blazeu is right, we currently can't see a way to use an access token for chat.
We're looking into adding 2-factor auth, just trying to figure out the most logical way to add it to the existing api.

[2015-06-29 06:11] bsansouci commented on #17
@appa1303 try this and tell us if it works :)

(we changed how login gets called, you need to pass in the options object so that it knows to login as a page)

[code]

[2015-06-29 08:33] blazeu commented on #21
it seems like this fix isn't published in the npm packages.

[2015-06-29 18:08] Schmavery commented on #21
I just published to npm so that should show up shortly.
Next time if you want changes that we haven't published yet, you can always modify your package.json to pull directly from the github repo.  Just use `git://github.com/schmavery/facebook-chat-api` as the version.  We sometimes like to get confirmation that a change works before publishing it.

[2015-06-29 21:23] blazeu commented on #21
thanks!

[2015-06-30 05:28] jijoamt opened #23 "response error"
I am using a previous version of the library where all functions reside in index.js itself.
Right now , after the get request from https://0-edge-chat.facebook.com/pull , am getting the following response  always. what can be done to get the actual response, when a chat is being sent to the logged in user.
'{"t":"refresh","reason":110,"seq":0}'

[2015-06-30 06:33] Schmavery commented on #23
Is there a reason why you can't update to a more recent version of the api?  Facebook changes every now and then, breaking our api and forces us to make updates to keep up.

[2015-06-30 20:01] mjkaufer opened #26 "getUserId Error"
Hi,

Calling `api.getUserId` breaks the program. I tried calling the method itself manually and got an error, and calling `api.sendDirectMessage`, which uses `api.getUserId`, throws the same error.

The error is as follows

[code]

[2015-06-30 20:47] mjkaufer commented on #26
See PR https://github.com/Schmavery/facebook-chat-api/pull/27

[2015-07-01 02:14] #26 closed

[2015-07-01 14:35] mjkaufer opened #28 "Push Fixed Module to NPM"
Hi,

Can you guys update the NPM version number and push the updated module to NPM?

Thanks!

[2015-07-01 18:31] Schmavery opened #29 "SendSticker not working"
error:
[code]

[2015-07-01 18:37] bsansouci commented on #29
They added threading_id (which is just message_id) and offline_threading_id. I'm working on finding how the latter is generated.
What's weird is that sending a message also needs those two, but sendMessage works...

[2015-07-01 18:56] Schmavery commented on #29
Turns out that sendSticker only works if the corresponding sticker pack is added to the bot account.

[2015-07-01 18:56] #29 closed

[2015-07-01 19:29] #28 closed

[2015-07-01 19:31] bsansouci commented on #23
@jijoamt ping

[2015-07-01 19:55] Schmavery commented on #23
Gonna close this, please reopen if necessary :)

[2015-07-01 19:55] #23 closed

[2015-07-02 02:03] issmirnov commented on #22
It might be useful to add this info to your README. My first thought when I saw this repo was amazement that it requires storing your actual password rather than using an auth token.

On a side note, great job! Was actually thinking of building one like this myself, started looking around and turns out some awesome people have already done it. Looking forward to taking it for a spin.

[2015-07-02 03:25] bsansouci commented on #22
You have a point. This started as a fun hackathon project, so it was always obviously "hacky" to us. We'll update the Readme.

Thanks! We'd love to see what you're gonna build.

[2015-07-06 05:13] appa1303 commented on #17
Thanks

[2015-07-06 05:13] #17 closed

[2015-07-07 04:09] jijoamt commented on #23
I have updated the library and was able to get messages yesterday. But today am not able to login. it says "Wrong username/password"  . seems headers.location is missing.

[2015-07-07 04:11] jijoamt opened #30 "login issue"
I have updated the library and was able to get messages yesterday. But today am not able to login. it says "Wrong username/password" . seems headers.location is missing. Can you pls check the issue

[2015-07-07 04:45] bsansouci commented on #30
We changed the `login` function, check the docs. Did you update your code accordingly?

[2015-07-07 04:54] JLarky commented on #30
I see same issue, I resolved it by adding noscript cookie

[code]
index.js line 20

[2015-07-07 04:56] jijoamt commented on #30
Yup, That fixed the  issue. Thx @JLarky

[2015-07-07 05:07] bsansouci commented on #30
@JLarky mmh thanks, we'll look into that. Probably gonna add it if it fixes it :+1:

[2015-07-07 05:11] JLarky commented on #30
I think main idea is that now in browser I see more options that are getting added to form from js, so you either have to emulate that or (as I guessed) you can try logging in as non-js user. I just afraid that later option can be removed by facebook later, since facebook doesnt work without js anyways.

[2015-07-07 07:57] canzhiye opened #31 "message.participant_ids only returns 5 people"
It seems that message.participant_ids only returns 5 people.

[2015-07-07 16:37] bsansouci commented on #31
You mean it returns 5 people max? How many people are there in your chat?

[2015-07-07 17:03] amirmamaghani opened #32 "Unable to login to facebook and wrong error message"
I'm using your simple login example and I've got this message:
[code]

After some investigation I spotted that error occurs at index.js:45 (i'm not getting any location so my login credentials are wrong?)

But my credentials are ok so I rendered HTML body of response and I'm seeing an error message that says cookies aren't enabled on my browser. What now? Am I doing something wrongly?

[2015-07-07 18:23] JLarky commented on #32
@amirmamaghani please take a look at #30

[2015-07-07 18:25] #30 closed

[2015-07-07 18:26] JLarky opened #33 "reportPullReturned ya za"
I'm looking at https://github.com/Schmavery/facebook-chat-api/blob/master/time.js#L77 and trying to understand why nowhere in the code `ya` or `za` are set. As I understand it, that will cause `continuousPullFails` to be incremented instead of `pullCount`

[2015-07-07 18:29] bsansouci commented on #33
We copy pasted this from Facebook's minified code. To be honest, I think this isn't useful. Try to remove all the calls to `reportPullReturned` and check if it works.

[2015-07-07 19:27] mjkaufer opened #34 "Push new version to NPM"
Hi,

Can we push the changes implemented in #30 to npm, so we can have the module working again?

Thanks!

[2015-07-07 21:12] Schmavery commented on #32
@amirmamaghani Can you update and check if it works now?  I just published the changes to the latest version on npm.

[2015-07-07 21:15] Schmavery commented on #23
Facebook recently made a change to how they handle cookies on login.  This should be fixed on npm as of e9b0088.  Please update and try again. :)

[2015-07-07 21:18] Schmavery commented on #34
Please update to version 0.2.7 on npm.

[2015-07-07 21:18] #34 closed

[2015-07-08 00:08] #32 closed

[2015-07-08 00:25] Schmavery commented on #33
This seems to be working fine as is.  Maybe it's a good candidate to be cleaned up in the future but right now it doesn't seem like it needs to be a priority.

[2015-07-08 00:25] #33 closed

[2015-07-08 08:13] amirmamaghani commented on #32
Yop, thx a lot, it is working now! :)

[2015-07-08 10:15] blazeu commented on #31
Confirmed.

There are 70 people in my chat, and ```participant_ids``` & ```participant_names``` only returns 5 ids & names

[2015-07-08 14:56] bsansouci commented on #31
Mmmh I just tried it, you're right. It's because the UI won't show you more, you have to specifically ask for the participants if you do want more. There's the number though `participant_total_count` which we can add as part of the packet. If it's bigger than 5 we can have a hook to pull their data.

[2015-07-09 06:23] Schmavery commented on #5
This may be a related issue: https://github.com/mjkaufer/Messer/issues/1

[2015-07-09 10:46] tpphu opened #37 "How could you use request module instead of zombie?"
Hi,
I see in your project you choose request module to request to Facebook, and I know you have to handle a lot of issues about: cookie, parse form etc...
Why do you not use zombie for?

[2015-07-11 03:04] bsansouci commented on #37
Hey, by zombie do you mean this: http://zombie.js.org/? It looks like a framework for testing, not sure why we'd use that. Maybe you meant phantomjs: http://phantomjs.org/
Mainly we wanted to learn how Facebook was doing it's thing. We also didn't really want to depend on such a huge library. We'll give it another look.

[2015-07-11 03:17] Schmavery commented on #37
I think he meant this: https://www.npmjs.com/package/zombie
There's a lot of stuff that happens on facebook that has nothing to do with chat.  The way we handled it, we explicitly only make the calls we need to make.  The idea was to keep the API fairly light-weight.  We may or may not have succeeded.  Like @bsansouci said, we also wanted to get a better understanding for exactly what is happening

[2015-07-11 03:17] #37 closed

[2015-07-11 03:18] Schmavery commented on #37
I'm closing this because it doesn't appear to be an actual issue... more a curious inquiry.  Feel free to continue discussion. :)

[2015-07-11 03:19] bsansouci commented on #37
@schmavery It's the same package ;)

[2015-07-13 04:16] tpphu opened #42 "Why this project do not use Zombie instead of request"
When I read inside the code of this project, I don't understand one thing:
Why this project do not use Zombie instead of request?

[2015-07-13 04:19] bsansouci commented on #42
Hey @tpphu, I think we were already talking about this here #37. I'm closing this issue because it's a duplicate of #37.

[2015-07-13 04:19] #42 closed

[2015-07-13 04:37] Schmavery opened #43 "Support upload"
We don't yet support file upload.  It would be nice to condense this into as few library functions as possible.  My hunch is that it will be possible to have one `api.sendAttachment` function that will support both regular and animated images as well as standard file upload.

If anyone wants to take a stab at this, feel free :smile:

[2015-07-15 14:37] bsansouci commented on #43
Fixed in #44

[2015-07-15 14:37] #43 closed

[2015-07-16 12:46] MarkehMe opened #46 "Login using an existing cookie"
Instead of creating a new session, we should add an endpoint to the api to fetch the cookie, and also the ability to login with a cookie instead.

e.g. ..

    login({ cookie: "...

From testing, I've created about 40 sessions! If you guys want I can implement this.

[2015-07-16 18:15] EpicKiwi opened #47 "Get online users"
can i get the online friends with this api ?

[2015-07-17 12:51] MarkehMe commented on #46
![screenshot 2015-07-17 22 48 33](https://cloud.githubusercontent.com/assets/1357323/8747404/05db383e-2cd6-11e5-9d32-217054fdf940.png)

Yeah I think I will! Here are some ideas I'm gonna go with.

* Allow passing cookie to login along with email and password (email and password is fallback if cookie expires/crumbles)
* Add option to enable storing cookies in a cache (cookiecache.json) so when we l

[2015-07-17 14:57] bsansouci commented on #46
I think this is a good idea. You should check how `request`'s cookie jars work (they are the same as `tough-cookie`.
I think cookie as a string is better than forcing the user to figure out how cookie jars work. It's an implementation detail that they shouldn't have to worry about. The downside is that we have to handle parsing the cookie and checking for errors.

I'm not a huge fan of having this

[2015-07-17 15:06] MarkehMe commented on #46
I guess that way if the user wanted to create a cache of sessions they could do it themselves which is probably better.

So are you still saying we can allow loading a preexisting session? This is my main issue.

[2015-07-17 16:24] bsansouci commented on #46
Yes. I'm saying add two things:
- a setter, potentially just another field inside the object given to login contains a properly formatted string of a cookie. I can't think of a better solution, but a formatted string is very loose in this case. By that I mean that any typo will just make the whole thing throw which kind of sucks, but I'm in favor of simplicity. So I think the format of the string

[2015-07-18 09:06] MarkehMe commented on #46
This sounds good to me! We'll just wait for some feedback.

[2015-07-20 08:07] tpphu commented on #37
Thank you, I really appreciate your answers, I know it not actually a issues, I just don't understand everything.
One more again, Thank so much for your answers.

[2015-07-20 08:08] tpphu commented on #42
Sorry, I don't know to use Github. Thank so much for your help.

[2015-07-20 13:02] blazeu opened #48 "Attachment upload breaks on a new version of 'request' module"
The attachment didn't get uploaded when using ```request@2.59.0``` (latest version).
However when using ```request@2.58.0``` the upload still works.

[2015-07-20 16:06] jackwilsdon commented on #48
Here's a list of the changes made from request 2.58.0 to 2.59.0: https://github.com/request/request/blob/master/CHANGELOG.md#v2590-20150720

Not sure what change could cause the upload to fail though.

[2015-07-20 23:42] JLarky opened #49 "delivery_receipts"
this is what facebook sending:
![image](https://cloud.githubusercontent.com/assets/7026/8790023/beb3f976-2efd-11e5-85d5-03a75dad29a6.png)
difference from code:
https://github.com/Schmavery/facebook-chat-api/blob/master/src/listen.js#L124
index is constructed in different way, and no `dyn` parameter

also in code it does not check if message was sent from user itself (facebook.com does not send it)

[2015-07-21 07:59] MarkehMe commented on #46
I've been thinking, we should priorities cookies in the login function. If the cookie fails to login, we can fallback to the users email and password. For example:

    login({ cookie: "COOKIE_DATA", email: "FB_EMAIL",  password: "FB_PASSWORD" }, function callback (err, api) {
        // .. do stuff <3
    });

So if the cookie expired, or the session had been ended we would revert back to the ema

[2015-07-21 08:03] MarkehMe commented on #49
The _dyn parameter is in a lot of requests that I've seen, not sure what its used for - is it required?

[2015-07-21 08:10] MarkehMe commented on #22
We keep our passwords safe with a mix of encryptions and storing data on a separate restricted database server.

PGP is the final encryption we use, heres a nice library: https://github.com/openpgpjs/openpgpjs

We have 3 servers, master, database, worker.

In short: Master has the public key, encrypts and stores the password in the database, then the worker (no public access) has the private key.

[2015-07-21 20:51] bsansouci commented on #48
[request@2.60.0](https://github.com/request/request/blob/master/CHANGELOG.md#v2600-20150721) fixes this. Closing now :)

[2015-07-21 20:51] #48 closed

[2015-07-21 21:00] bsansouci commented on #49
Nope, __dyn isn't required and is also very hard to generate, which is why we're doing without it. I'm all in for being more similar to the browser. Marking this as enhancement:
- [ ] make the indices not skip some messages
- [ ] avoid sending read receipts for messages that the user sent

[2015-07-22 05:21] bsansouci opened #50 "Attachments aren't properly implemented"
We [loop over attachments](https://github.com/Schmavery/facebook-chat-api/blob/cc92ab22ce07d004fa78829fe10ac59bdd7b4cf4/utils.js#L126-L158) but breaks, so it takes the first one that matches. This is not only wrong because you can send multiple attachments, but also because we make a hard distinction between `type`s of messages (`"message"`, `"sticker"`, `"file"`, `"photo"` and `"animated_image"`)

[2015-07-22 05:50] blazeu commented on #50
...

If only we handle this the right way from the start, we could only have 2 or 3 message type ```"message"``` (with an array of attachments), ```"sticker"``` and  ```"event"```. That way, it'll be nicer.

Oh, also there's ```"url"``` attachment too.
![ss 2015-07-22 at 12 40 50](https://cloud.githubusercontent.com/assets/1438859/8818726/10776564-306f-11e5-8b1b-15693bfe7210.jpg)

[2015-07-22 05:56] bsansouci commented on #50
Yeah I wish we hadn't done this this way, but I don't think we can afford to just break the API. The fix I proposed should be enough for now. We can maybe keep a list of features/fix we want and make a v2.0 with breaking changes. @Schmavery what do you think?

Also it seems like the `attach_type` is `"share"` and not `"url"  (on my end at least)

[2015-07-22 06:27] blazeu commented on #50
Why not v1.0? We don't have that.

Sorry, I haven't checked it, but I've figured out how to **send** it tho. I might make a pull request soon.

[2015-07-23 15:45] jackwilsdon opened #51 "Kicking someone with api.removeUserFromGroup does not update participant information"
As the title states, kicking a user with `api.removeUserFromGroup` does not update `participant_ids` or `participant_names`.

Kicking a different user from the web interface updates `participant_ids` and `participant_names` fine, but the user who was kicked with `api.removeUserFromGroup` remains.

[2015-07-24 01:44] Schmavery commented on #51
@bsansouci was work done on #31 that would cause this?

[2015-07-24 02:03] Schmavery commented on #50
I think the model that @blazeu described is a very good option.  There are a number of other breaking changes I've been considering, so maybe we can work on putting together a list to release all at the same time.

[2015-07-24 02:54] bsansouci opened #52 "sendMessage with attachment will send unordered `__req`"
If you look [here](https://github.com/Schmavery/facebook-chat-api/blob/cc92ab22ce07d004fa78829fe10ac59bdd7b4cf4/src/sendMessage.js#L29) you'll see that we call `mergeWithDefaults` (say `__req` is `"a"`) and then call `api.uploadAttachment`. The latter will also call `mergeWithDefaults` [here](https://github.com/Schmavery/facebook-chat-api/blob/cc92ab22ce07d004fa78829fe10ac59bdd7b4cf4/src/uploadAtt

[2015-07-24 06:27] Schmavery commented on #52
In this particular instance, can't it be fixed by uploading the attachment before we create the sendMessage form?  We could change our convention to only mergeWithDefault immediately before sending off a form.  Could we maybe even integrate it into the post?  Just spitballing.

[2015-07-24 06:35] Schmavery commented on #46
I'm fine with this format personally.  Login is currently one of the spaghettiest pieces of code left in the project, so we'll have to be careful not to break anything.  Thoughts @bsansouci?

[2015-07-24 06:39] Schmavery commented on #49
Incidentally, if someone figures out a clean way of generating __dyn, we'd definitely be into adding it to `mergeWithDefaults` (in the spirit of being more similar to the browser).

[2015-07-24 06:52] bsansouci commented on #49
If someone can get that to work, without requiring 95% of FB's code base, I would personally fly to that person's house and have a beer with them.

[2015-07-24 06:55] Schmavery opened #53 "Plans for version 1.0 [WIP]"
We've run into a couple situations where some refactoring would result in a more sensible app.  Here's my WIP proposal (please feel free to contribute) for a version 1.0 that will include breaking changes.

Note: This isn't anything fancy, mostly just me putting most of the current issues into a list because it kind of needs to happen... please tell me if I forgot anything.

- [x] Handle message a

[2015-07-24 07:11] bsansouci commented on #46
@MarkehMe don't do a PR, we have some ideas and need to untangle the code a little. The idea would be to serialize the whole app state (including userId, clients, access_token etc..), not just the cookies. Then you can get it with something like `api.getAppState` and do `fs.writeFile("cache.json", JSON.stringify(api.getAppState()))` before quitting.
Then you would login like
[code]

Do you think t

[2015-07-24 21:53] bsansouci commented on #52
We can't integrate into the post without being sure that it won't break certain post request that don't have all those fields. We don't know what FB's doing with our requests.

I think the only way would be to be very consistent, or have two different functions `post` and `postWithDefaults`.

[2015-07-24 22:00] Schmavery commented on #52
I wouldn't be against a `postWithDefaults` to enforce consistency.  We could even go so far as to remove the ability to call `mergeWithDefaults` directly.

[2015-07-25 08:55] blazeu commented on #53
Contribution guidelines? Coding style guidelines?

[2015-07-26 11:28] MarkehMe commented on #46
That sounds good to me.

[2015-07-27 22:21] bsansouci commented on #53
I don't think this project is big enough to require hard guidelines. We've been very loose regarding coding style, but that's partially because of FB's naming convention.

[2015-07-30 02:20] JLarky commented on #53
Do you guys consider shortened start sequence? I noticed that you can use `listen` with just a loadMainPage and part of nullStateReq (makeDefaults and stuff). And considering #46 that means that you can start client with just one http request. I don't know if that makes much difference for many users, but it might :)

[2015-07-30 20:21] Schmavery commented on #53
Yes, I think it's definitely worth revisiting the current login sequence to see if it can be streamlined.  I think @bsansouci tried to do this already, but maybe Facebook has changed on their end since then.  I also wouldn't mind moving the graph API token code to a different location, because I get the feeling it's not very useful.

[2015-07-31 07:22] limweb opened #54 "chat with page conversations"
can use this api for chat with fanpage conversations

thanks.

[2015-07-31 07:24] senhly opened #55 "Login fail"
I've just play around with this API for few day, it's fun but today i got login error. I find out that facebook redirect to https://www.facebook.com/common/invalid_request.php?__req=5 when I login. Anyone know why? on version 0.2.10

[2015-07-31 13:42] bsansouci commented on #55
Are you on v0.2.11? We just fixed a login issues yesterday.

[2015-07-31 13:50] bsansouci commented on #54
Yup! If you login with the option `{pageId: xxxx}` you'll be logged in as a page and will receive/send messages through the page. Check the pageId option [here](https://github.com/Schmavery/facebook-chat-api#setOptions).

[2015-07-31 13:53] #54 closed

[2015-07-31 17:38] bsansouci commented on #51
Not sure how you got this. Can you send a snippet of code? Works fine here.

[2015-07-31 17:57] bsansouci commented on #53
You guys can track the progress [here](https://github.com/Schmavery/facebook-chat-api/tree/pre-release-v1.0)

[2015-08-01 22:23] bsansouci commented on #53
Hey @webfreak7, @blazeu what do you guys think of [this](https://github.com/Schmavery/facebook-chat-api/commit/9abfb0a062ed031d75de042dfff6821f5aff6c34)?

[2015-08-01 22:24] bsansouci commented on #53
@JLarky ^

[2015-08-02 11:03] blazeu commented on #53
:+1:

Add ```share``` attachment type, and it's complete.
Also, is there any reason in using a bunch of ```if``` instead of ```switch``` ?

[2015-08-04 19:16] Schmavery opened #56 "Creating a Group Chat"
It seems we don't support creating a new group chat.  It might be possible to do it with `api.addUserToGroup`, but it's still not clear what to set as the `thread_id` and what the id of the new group chat will be.

[2015-08-04 19:21] #55 closed

[2015-08-04 19:21] Schmavery commented on #55
Please reopen this if there is still an issue after updating to 0.2.11. :)

[2015-08-05 09:54] senhly commented on #55
I can't login when I enable option <b>login approvals </b>
![login-approval](https://cloud.githubusercontent.com/assets/2818416/9083089/7580dd40-3b92-11e5-8adb-722994895f1e.PNG)

[2015-08-05 09:56] blazeu commented on #55
See #22 and #53

[2015-08-06 09:38] senhly opened #57 "Logout"
I've tried to logout by clear cookie(set <b>ctx</b> to default value) but I don't think it is a good solution. I think we can logout through http://www.facebook.com/logout.php.
It seem facebook require parameter <b>fb_dtsg</b>,<b>h</b> and <b>ref</b> and then redirect to https://www.facebook.com/?stype=lo&jlou=...&smuh=....&lh=...
Does anyone know where is parameter <b>h</b> hiding? little help pl

[2015-08-06 19:36] Schmavery commented on #57
I agree that we should have this feature.  If you give us a couple days, we can probably find the time to look at it a little more closely.  We'll have to check exactly what information is being sent in the form before we can know how to emulate it.

[2015-08-09 20:18] bsansouci commented on #53
Hey @blazeu if you ever have to courage, feel free to write some contribution guidelines. I [tried](https://github.com/Schmavery/facebook-chat-api/commit/47c97ef81b063016ac913e3105f1569666cf469e) to make the code more consistent.

[2015-08-10 09:40] senhly commented on #57
Cool ! now we can logout. :D
:(
but the request after logout, facebook will ask for login to continue and next request will response html document so it cause error in <b>parseResponse</b>. any idea?

[2015-08-10 17:20] Schmavery commented on #57
@bsansouci now that you made the [change](f957e85) that all errors throw exceptions, can we simply throw an error "User Not Logged In" or something in `parseResponse`?

[2015-08-10 17:32] bsansouci commented on #57
@senhly what function does the request _after_ you've logged out?

@Schmavery though it would make sense in this case, I don't think it's a good error message. `parseReponse` makes the assumption that it receives JSON and it gets html, which can be caused by many things.
We should be catching any error that parseResponse throws and calling the callback with it, so if you logout and do something yo

[2015-08-10 17:34] Schmavery commented on #57
I think @senhly is talking about using other API functionality after logging out.  This should definitely cause an error, but it would be nice if it was a specific error and not just a parse problem.  I was assuming we would do some basic parsing of the html in `parseResponse` to verify that this was actually the problem.

[2015-08-10 19:40] bsansouci commented on #57
Mmh Ok, maybe we could make another `parseResponse` that will throw an error `{error: "Not logged in."}` that we use everywhere where we _are_ supposed to be logged in. The only place where we'd use the regular `parseReponse` is during the login process I'm guessing.

[2015-08-11 03:02] senhly commented on #57
@Schmavery was right, it cause error when call other function after logging out. By this way, I also notice that after logging out complete the pulling request in function <code>listen</code> still running. We could stop listen after log out. Am I right?

[2015-08-11 10:25] blazeu commented on #53
Nah, I'll pass. I don't really have a good understanding of the code.

If you want to make the code more consistent, consider linting the code.
Put the linter's config into the repo (```.eslintrc```, ```.jshintrc```, etc) and maybe incorporate linting into the test.

[2015-08-20 10:04] Atachi opened #59 "Mismatched types pageID"
When using the current dev branch, login in as page is broken due to the given ID internally turned into a string.
After editing the setOptions function, to not convert pageID into a string, receiving messages as page works.
This breaks preventing selfListen though as there it is expected to be a string in the comparison.

In short: somewhere along the line there is a type mismatch, that prevents

[2015-08-20 18:27] Schmavery commented on #59
Hmm, because Facebook gives us ids as strings, we're currently working with the general rule that all ids should be stored at strings to avoid too many problems on this type.  I'll take a look when I get a chance.  Do you know where it broke the first time, before you changed `setOptions`?

[2015-08-21 05:01] Schmavery commented on #59
Hey @Atachi, can you let me know if this fixes your problem? :smile:

[2015-08-21 07:11] Atachi commented on #59
Hi.

I was talking about the "pre-release-v1.0" branch. In "master", pages were working.
Currently have to use that branch due to requiring the external stopListening feature still missing in the master.

Sorry if that hasn't been clear in the original message.

[2015-08-21 14:51] Schmavery commented on #59
Awesome, thanks.  Coincidentally, there was exactly the same problem in the master branch.  Just heading to work now but hopefully it'll be fixed by the end of the day.  Feel free to try and submit a pull request if you want to give it a shot!  It's not too hard, lots of guides online and I don't mind helping out!

Note: if you do make a pr, can make sure we convert the passed in page id to a stri

[2015-08-23 17:53] JoseRoman commented on #56
The ID of chat group seem to be "Conversation-Thread_ID"

[2015-08-24 22:05] #59 closed

[2015-08-26 14:19] Karlheinzniebuhr opened #61 "Error retrieving userId."
I'm always getting this error even if I enter from the browser and mark the login attempt as trust wordy.

[Error: Error retrieving userId. This can be caused by a lot of things, including getting blocked by Facebook for logging in from an unknown location. Try logging in with a browser to verify.]

[2015-08-26 14:24] Karlheinzniebuhr commented on #61
Ok

[2015-08-26 14:24] #61 closed

[2015-08-26 17:08] Schmavery commented on #61
Glad you were able to figure out your problem :)
We're working on supporting login approvals but it's taking a little longer than expected.  Hopefully it'll be finished up soon!

[2015-08-28 03:13] miketamis opened #62 "If I remove someone from a chat and re add them they can't talk"
If I remove some from the group and then add them back the person can't talk with the message "You cannot reply to this covensation", until I remove and readd the bot.

[2015-08-28 03:33] jackwilsdon commented on #62
That is Facebook themselves. I have this when in group chats. If you
Refresh the window, you can talk again.
On 28 Aug 2015 4:13 am, "miketamis" <notifications@github.com> wrote:

[2015-08-29 19:52] vanhung89 opened #63 "Can't get access token"
Hi
I don't know why I can't get access token to use facebook api. Do have anything with api.getAccessToken()?

[2015-08-29 21:57] #63 closed

[2015-08-29 21:59] Schmavery commented on #63
Sorry @vanhung89, this functionality has been removed, but we forgot to update the README.  The access token returned by our API was not a proper access token and behaved unpredictably.  Please use the regular way of obtaining an access token.  Thanks!

[2015-08-30 01:05] Schmavery commented on #62
@jackwilsdon is this something we're missing in the api here?
I don't quite understand the problem, you after removing and readding a person, they can't talk until you remove and readd them again?

[2015-08-30 03:27] vanhung89 commented on #63
Could you tell me some option? I don't know any way to get access token. It's note relate, but could you tell me how to get group by search key word? And how to get all user of group. Thanks you very much

[2015-08-30 05:04] Schmavery commented on #63
This should give you plenty of information to get started on access tokens: https://developers.facebook.com/docs/facebook-login/access-tokens
You'll probably want to use it with an API like this one: https://github.com/Thuzi/facebook-node-sdk

We currently don't have functionality to search for groups (AFAIK, @bsansouci?).  All participants of a group chat are sent with every message received from

[2015-08-30 17:24] vanhung89 opened #65 "Can't get userInfo of array UID"
Hi
I use getFriendsList method to get list friend, It will return array UID. Then I use getUserInfo method to get user information of that array but it throw error: ERR! Error in getUserInfo TypeError: first argument must be a string or Buffer
Could you tell me how to fix it?

[2015-09-02 05:45] bsansouci commented on #22
Hey guys, login approvals is pushed on the pre-release branch. Let us know if you have any issues with it.

[2015-09-02 07:16] Schmavery commented on #22
@Liryna ^

[2015-09-02 08:28] jijoamt opened #66 "Receiver name missing in response"
If i ( say A) make a post to somebody else (say B), i am not getting the receiver's name in response. Is there any way to include the name of the receiver in response for the  listen command

[2015-09-02 15:06] Schmavery commented on #66
This is generally expected to stay constant?  I don't really understand the question.

[2015-09-03 03:48] jijoamt commented on #66
I have configured the account A using this library.  So whenever A receive a message from B or C, i get the sender_name ( the person who has sent the message to A) . But when A  sent a message to B or C from facebook itself or from a messenger, the api response does not have any reference about  B's name. it just gives B unique id in facebook. Is there any way to get B's name as well

[2015-09-03 17:41] Schmavery commented on #66
Ah, I assume you're using the `selfListen` option set to `true` then.  You can always get information about  a `userID`, including the full name, with a call to `api.getUserInfo()`.
I hope that helps.

[2015-09-03 17:46] Schmavery commented on #65
You should be able to pass an array of users into getUserInfo, so it's possible that this is a bug.  Can you give a short code example of what is producing the error?

[2015-09-04 18:06] Schmavery commented on #66
I'm marking this as resolved, please reopen the issue if you have further problems with this. :smile:

[2015-09-04 18:06] #66 closed

[2015-09-04 18:10] Schmavery commented on #49
@bsansouci is this fixed for v1.0?

[2015-09-04 18:11] Schmavery commented on #51
I'm closing this for now, please reopen if necessary

[2015-09-04 18:11] #51 closed

[2015-09-04 18:13] Schmavery commented on #61
@Karlheinzniebuhr login approvals are now supported in the prerelease branch.  Give it a try!

[2015-09-04 18:14] Schmavery commented on #55
@senhly Login approvals are now supported in the prerelease branch.  Give it a try!

[2015-09-04 18:17] bsansouci commented on #49
Yes it is :)

[2015-09-04 18:22] Schmavery commented on #57
Reopening so that we don't forget to fix this in listen.

[2015-09-06 07:35] vanhung89 opened #70 "Block face account"
Sometime I was blocked face account because it detect I logged in other location. I use openshift server. Can you fix it? Or do we have any solution for that problem?

[2015-09-06 11:58] blazeu commented on #70
Just do the verification process and it should be fine.

[2015-09-06 12:01] vanhung89 commented on #70
I know. But my user don't like that. Sometimes they can't verify because they have alot of friends and they don't remember all of their friends.

[2015-09-07 00:30] bsansouci commented on #70
We can't do anything about that, all we can do is automate some things. So if FB asks you to confirm it was you who logged in from that location, we can automate that (with the `forceLogin` option coming in v1.0). But recognizing your friends for you... nope.

[2015-09-07 01:57] Schmavery commented on #70
This is kind of the design of facebook we're talking about here, I don't think it makes sense to try and solve this problem here.  Sorry :)
Like @bsansouci said, you should definitely try out the `forceLogin` option.

[2015-09-07 01:57] #70 closed

[2015-09-07 02:12] Schmavery commented on #56
This should be fixed by 7c88010 in v1.0

[2015-09-08 02:28] miketamis opened #72 "Can't send a message with a number with two decimal places."
You can send "this is a number 1"
You can send "this is a number 1.2"
But you can't send "this is a number 1.23"

weird bug

[2015-09-08 17:03] Schmavery commented on #72
This seems to work for me in my initial testing.
Can you specify the branch you're working with and a small snippet of code that exhibits the problem?

[2015-09-13 03:52] bsansouci commented on #72
Can't replicate here either. I'm closing this unless you can tell us how to replicate this :p

[2015-09-13 03:52] #72 closed

[2015-09-13 04:10] bsansouci commented on #62
Closing this because we can't reproduce it. It seems like an issue that's unrelated to the api. If you refresh after being added back, you _can_ talk.

[2015-09-13 04:10] #62 closed

[2015-09-13 04:22] bsansouci commented on #65
Closing this for now. I have no idea how you get this error, this specific message isn't in the current version.

[2015-09-13 04:22] #65 closed

[2015-09-13 04:23] bsansouci commented on #5
Closing this for now. No idea how to solve. Hopefully fixed accidentally. Feel free to re-open.

[2015-09-13 04:23] #5 closed

[2015-09-14 19:16] Schmavery commented on #53
Update: We're just in the process of getting the docs up to date and we expect to ship v1.0 before the end of the week.

[2015-09-23 03:16] Twelve-60 opened #75 "Chat history"
Is it possible to access the chat history of a particular thread?

[2015-09-23 05:08] Schmavery commented on #75
This should be possible using the getThreadHistory function I just added to the pre-release branch.  Docs for it should be out soon but we try to match the format of the messages returned by the listen function as  closely as possible, so if you want to get a head start, feel free to look at the code for it in `src/getThreadHistory.js`.

[2015-09-23 09:07] Twelve-60 commented on #75
Excellent, I'll have a look. Is it designed to fetch the entire history? The browser client fetches history in batches as requested (as you scroll up).

[2015-09-23 13:50] bsansouci commented on #75
@Twelve-60 It follows the way the browser queries it, meaning you give it a [start and end point](https://github.com/Schmavery/facebook-chat-api/blob/71b3fbb23bd0d6d15072c90dd7a8c60fafb5c1d4/src/getThreadHistory.js#L7).

[2015-09-28 01:38] #57 closed

[2015-09-28 20:37] #75 closed

[2015-09-28 20:37] #56 closed

[2015-09-28 20:37] #52 closed

[2015-09-28 20:37] #50 closed

[2015-09-28 20:38] #49 closed

[2015-09-28 20:38] Schmavery commented on #47
Yes! :P

[2015-09-28 20:38] #47 closed

[2015-09-28 20:38] #46 closed

[2015-09-28 20:39] #31 closed

[2015-09-28 20:39] #22 closed

[2015-09-28 20:45] Schmavery commented on #53
Update: We were a little late, but v1.0 is shipped now :)

[2015-09-28 20:45] #53 closed

[2015-10-02 23:14] bbatliner opened #82 "Z_DATA_ERROR incorrect data check"
I'm working with the [Electron](https://github.com/atom/electron) framework on a messaging application. Occasionally when I make an API request with facebook-chat-api, I will receive a `Z_DATA_ERROR` from the zlib library. There seems to be no pattern to when this error is thrown, and the entire API request is cancelled and fails. I could not find the source of this error beyond the line number sh

[2015-10-02 23:47] Schmavery commented on #82
I guess there's no chance for a minimal example of code that results in this issue?

[2015-10-03 00:02] Schmavery opened #83 "Allow sending of url & file in 1 message"
#### Docs:
- [x] add entry for `deleteThread()`
- [x] update method of retrieving userID
- [ ] Fix url/file problem (thanks @blazeu)

Feel free to suggest any other small issues that need to be touched up!

[2015-10-03 00:03] bbatliner commented on #82
It happens to me when I try to log in. If it happens elsewhere I'll let you know. The last console output from the module is ["Logging in..."](https://github.com/Schmavery/facebook-chat-api/blob/40213bf33403ac5978ba81d71023b9c6587f6096/index.js#L146), and then it spits out the error. Here is a [full console output](http://pastebin.com/Pf0tunw7) from when it last happened.

Below you'll find the co

[2015-10-03 01:48] bbatliner commented on #83
See #84 :smile:

[2015-10-03 02:17] blazeu commented on #83
I just found out that you can send both url & file/image attachment in 1 message.
![image](https://cloud.githubusercontent.com/assets/1438859/10260996/3a5b670e-69ae-11e5-8466-b2a138b63324.png)

The current **sendMessage** function can only send **1** type of attachment/message.

[2015-10-08 19:42] Schmavery opened #85 "Add getThreadInfo"
We could use a function that searches for a thread ID and returns relevant information.  This should be used instead of `searchForThread` in `listen`.

[2015-10-08 19:49] Schmavery commented on #85
This information is in `payload.roger.<threadID>` of the `ajax/mercury/thread_info.php` call that happens in `getThreadHistory`.
The information is all the userIDs participating in the thread.  This will solve our requirement for `listen`.

[2015-10-10 15:38] sid-kap opened #86 "Feature request: command-line chat client"
Hi,

Is anyone considering building a command-line chat client? I would love to be able to send facebook messages without opening up a browser window.

[2015-10-10 20:18] Schmavery commented on #86
This shouldn't be too complicated to make with using the api, but I don't think it's within the scope of this particular project.
It looks like there are a couple people working on this:
https://github.com/mjkaufer/Messer
https://github.com/maxtuck21/termchat

[2015-10-10 20:18] #86 closed

[2015-10-11 00:18] Schmavery commented on #85
Update: This is a little more complicated than anticipated.  We're going to have to find a consistent way to get this information.

[2015-10-12 05:32] Schmavery commented on #85
For now this is solved by using searchForThread and checking the threadID to account for threads with the same name.

[2015-10-12 05:32] #85 closed

[2015-10-13 10:36] GinesMendoza opened #87 "are there someting like this but for Android?"
I would like to know if there are something similar to this or some way to implement this on android.

Anyway thanks a lot for share your source :)

[2015-10-13 14:51] bsansouci commented on #87
Hey @GinesMendoza, unfortunately I don't know of anyone who implemented this for android. @Schmavery Any idea?
If you feel courageous, you could implement something similar for your needs in Java. Feel free to ask questions.

[2015-10-13 14:51] #87 closed

[2015-10-13 19:11] Schmavery commented on #87
@GinesMendoza I'd probably be interested in contributing to this if you start one.  Let us know if you do!

[2015-10-17 02:57] azizimusa opened #88 "Login with cache fail after server rebooting."
I have implemented login with cache successfully by following guide from this issue :
[code]
My facebookBot chat is automatically executing if server rebooting. Problem is, when server is rebooting,  bot script fail to run. Below are the error shown on terminal :

[code]

From which line and which file should I add code to clear the "cache.json" if got error ?

[2015-10-17 10:33] bearbear12345 opened #89 "Cannot read property 'type' of undefined"
Application crashing on ``` switch (event.type) {``` even though ```type``` exists in the message data

[code]

[2015-10-17 16:45] bsansouci commented on #88
Hey @azizimusa,
Looking at the error it sounds like the appState you give isn't an array. You should check that it is. We should probably warn for that @schmavery.
To answer your question, we don't have a nice way to tell you that you should refresh the cache. One way is to delete when you get an error back inside the login callback. That should work in most cases.

[2015-10-30 19:41] Schmavery commented on #89
Is this happening with all messages that get passed to the listen callback or just in certain cases?  Is it possible for you to show us a code sample that exhibits this behaviour?

[2015-10-30 19:42] bsansouci commented on #89
Also can you give us steps to reproduce this?

[2015-10-30 22:40] bearbear12345 commented on #89
It seems like it happens after receiving a message after a period of inactivity?

With options
[code]

[code]

I temporarily resolved this by ignoring the undefined event, but I'd like to know why it happens
[code]

The debug.log I used showed something along the lines of
[code]

[2015-11-01 00:05] mrkno opened #90 "Larger example of usage"
If you would like another very large example of this projects usage within a bot we are using it within https://github.com/mrkno/Kassy

[2015-11-01 06:35] Schmavery commented on #90
We'd be happy to include this, as long as you can confirm that it's using v2.x of the api.  @bsansouci thoughts?

[2015-11-01 09:20] mrkno commented on #90
Yes, uses v1.x of your api as of a push earlier today.

[2015-11-01 09:37] bsansouci commented on #90
Sure! Can you give us one sentence that would best describe Kassy?

[2015-11-01 22:13] mrkno commented on #90
"Kassy is a modular, easily extensible general purpose chat bot".

Don't know if that really describes it all that well. Basically the idea is that small node.js modules are written for it then placed in a folder. They will load on startup and become part of what the chat bot provides. The current pre-installed modules are [here](https://github.com/mrkno/Kassy/tree/master/modules). They include a

[2015-11-02 04:46] bsansouci commented on #90
I add it on the readme! Nice project btw. If you need anything from us don't hesitate to ask :)

[2015-11-02 04:46] #90 closed

[2015-11-04 07:16] pandalion98 opened #91 "TypeError: Cannot read property 'caption' of undefined when sending a thumbs-up via Chat"
ERR! ERROR in listen -->  TypeError: Cannot read property 'caption' of undefined
   at _formatAttachment (/home/pi/node_modules/facebook-chat-api/utils.js:155:31)
   at /home/pi/node_modules/facebook-chat-api/utils.js:250:12
   at Array.map (native)
   at formatAttachment (/home/pi/node_modules/facebook-chat-api/utils.js:245:36)
   at Object.formatMessage (/home/pi/node_modules/facebook-chat-api/u

[2015-11-04 07:21] bsansouci commented on #91
Hey @pandalion98 can you check if ae5191121e5a967cc294b22b4dc08414f6ceb349 fixes it?

[2015-11-04 07:44] pandalion98 commented on #91
Let me check.

[2015-11-04 07:44] Schmavery commented on #91
If this doesn't fix the problem, can you clarify which type of thumbs-up you're talking about?  Afaik there are 3 kinds:
![image](https://cloud.githubusercontent.com/assets/2154522/10932324/bd0e8688-8284-11e5-9018-8f9e287c608d.png)
Can you tell us which one is causing the problem?

[2015-11-04 07:45] pandalion98 commented on #91
Second one.

[2015-11-04 07:46] pandalion98 commented on #91
ae51911 fixed it.

[2015-11-04 07:48] #91 closed

[2015-11-04 07:55] Schmavery commented on #89
Just a thought... I assume the error in null in these cases?

[2015-11-04 07:59] Schmavery commented on #82
@bbatliner @bsansouci Knowing nothing about Electron or zlib, I'd be inclined to say investigating this is out of the scope of this api...
That said, if you find a solution that involves tweaking the api, we'd love a pull request.

[2015-11-04 09:10] bearbear12345 commented on #89
Ahh right, I'll go and debug print both arguments.

[2015-11-04 11:37] nripendra opened #92 "How to get typing indicator?"
There is method **api.sendTypingIndicator()** to send the typing indicator. But there doesn't seem to be anyway to receive an indicator?

My first feeling was that it should be part of "**listen()**" function with event listening enabled. But so far I haven't seen any such event.

Regards.

[2015-11-04 17:19] bsansouci commented on #92
Good catch! If you do `api.setOptions({listenEvents: true})` you should get typing indicators now :)

[2015-11-04 19:06] bsansouci commented on #82
@Schmavery agreed, we can't help here... My guess is that electron overwrites something without following the specs. (so maybe they have their own get request thing or something along those lines)

[2015-11-04 19:06] #82 closed

[2015-11-05 02:45] nripendra commented on #92
Is it published to npm? Or I should get directly from github?

[2015-11-05 08:22] bearbear12345 commented on #89
Here we are

[code]

Two of those errors were printed during my (unattended) debug (didn't record the time, whoops)

[2015-11-05 08:32] Schmavery commented on #89
You say "after a period of inactivity"... how long are we talking?  Here it looks like facebook has logged you out (or at least gotten confused), in which case logging in again should fix the problem.

[2015-11-05 08:38] Schmavery commented on #92
I just published the updates to npm.  In general, getting it directly from github will get you the latest code, because we don't publish after every commit (unless it's something really important).
You should be able to listen for 'typ' events. @bsansouci correct me if I'm wrong, but that's what the code looks like.

[2015-11-05 08:54] Schmavery commented on #89
As far as I can tell, considering an error was sent, this is expected behaviour.  The only question here is whether we should suppress the callback in failure cases such as these. @bsansouci ?
If after receiving this error, you continue to receive valid messages/events, then I think we should not call the callback with this error.  However, if this error indicates that there is a deeper problem, w

[2015-11-05 09:05] Schmavery commented on #92
@bensansouci reopening this so that we remember to update the docs.

[2015-11-05 09:08] nripendra opened #93 "Can getUserInfo provide Cover picture?"
I'm thinking of a ui where I'd also like to show user's cover picture? But I don't want to resort to some other api that requires access tokens.

Is is possible to get cover picture url?

[2015-11-05 14:50] bsansouci commented on #92
Yes `type; 'typ'`, and yeah we need to document this properly.

[2015-11-05 17:29] Schmavery commented on #93
I'd imagine this will be possible, but will require some investigation.  If you submit a PR with this change, I'd definitely consider it.  @bsansouci

[2015-11-07 01:59] nripendra commented on #93
Thanks for the reply. I'll fork the project and check if I can figure out.

[2015-11-07 02:45] #93 closed

[2015-11-07 07:49] nripendra opened #94 "getOnlineUsers() statuses is undefined"
Hi,

When getting data from getOnlineUsers, there is a field named statuses but it's value is undefined.

[2015-11-08 01:35] Schmavery commented on #94
Sounds like Facebook has either changed the format of their data or doesn't send us this information anymore.  Happens pretty frequently.
If you print out the value of `data[key]` at [this position](https://github.com/Schmavery/facebook-chat-api/blob/master/src/getOnlineUsers.js#L8), you might be able to see what the data we receive looks like.

[2015-11-08 16:42] nripendra commented on #94
Data looks like this:

500936670: Object
a: 2
c: 10
i: false

503030566: Object
a: 1
c: 10
i: false

504252011: Object
a: 2
c: 0
i: false

507166671: Object
a: 2
c: 10
i: false

509843233: Object
a: 2
c: 8
i: false

[2015-11-09 14:58] #94 closed

[2015-11-09 15:00] bsansouci commented on #94
Nice catch, they did change their format. I'm not sure how to interpret the new `statuses` field because it looks like `{ i: false, a: 2, c: 8 }`. I'll look into it.

[2015-11-09 15:38] bsansouci commented on #94
@nripendra I updated the docs, this should do it.

[2015-11-09 17:12] nripendra commented on #94
Thanks!!

[2015-11-11 01:35] Schmavery commented on #92
Fixed docs in d3cd027.

[2015-11-11 01:35] #92 closed

[2015-11-11 04:29] Schmavery commented on #88
Fixed by #97

[2015-11-11 04:29] #88 closed

[2015-11-11 16:09] pete10 opened #98 "addUserToGroup incorrect thrown error"
Hi,

Just started using this api and really impressed, thanks for all the hard work so far!

I have noticed a problem with addUserToGroup feature though, I am able to successfully add a user to a group chat using the api despite an error being thrown...

ERR! ERROR in addUserToGroup -->  { __ar: 1,
ERR! ERROR in addUserToGroup -->    error: 1545052,
ERR! ERROR in addUserToGroup -->    errorSummary

[2015-11-11 18:23] Schmavery commented on #98
Thanks for opening an issue about this.
We actually noticed it yesterday and it seems to be something funny on Facebook's side (since it still adds the user to the chat and you will get an event saying a user was added to the chat).  It's possible that they've changed the format of the request, so we'll keep an eye on it, but for now I guess I would say you should just ignore this error.

[2015-11-13 03:59] rikka94 opened #99 "getUserId by Email"
I wonder if its possible to implement get user by email instead of name , as name is really not reliable..

Since this api simulate facebook browsing and the searching function in facebook is capable to return result by email, i think it is possible right ?

[2015-11-13 04:04] rikka94 commented on #99
Nevermind , i look into the source code and realize i can use email as argument and work the same..

Thanks for the api , its working great !

[2015-11-13 04:04] #99 closed

[2015-11-13 04:47] bsansouci commented on #99
Haha glad you like it. Please open issues for questions, requests, bugs or feedback :)

[2015-11-14 01:34] mrkno opened #100 "Crash when connected to facebook group"
This issue is copied from https://github.com/mrkno/Kassy/issues/34. It only seems to occur on >v1.0.2 as far as our limited testing can determine. I tested internationalisation and it didn't seem to have any difficulties but given time constraints testing was not extensive.

<hr>

so it is working fine , when i am using it in personal chat , but when i add the profile that is on the bot , the scri

[2015-11-14 06:14] bsansouci commented on #100
Hey @mrkno can you print the `event` after line 290 in `utils.js`? We updated the `typ` event after what seemed like a change on FB's end here 2059829317ed40d0c46872ddea763e05c441d4af but change might only exist for certain people.

[2015-11-14 13:39] rikka94 opened #101 "restarting listener after stopping it without logout"
api.listen(callback); //I did this to start a listener work

(api.listen())(); //i call this , the listener is stopped

api.listen(callback); //then i call this again, listener didn't restart

DId i use the method wrongly ? How do i restart the message listener ?

Thanks..

[2015-11-14 20:07] bsansouci commented on #101
Get @rikka94, `api.listen(callback)` returns a function to stop that given callback (not all callbacks). So you should do `var stop = api.listen(callback)` and later when you need to stop that listen you can do `stop()`.
If you need multiple callbacks running simultaneously you can also do that, and each function returned by `listen` is specific to the callback given.

[2015-11-14 23:43] Schmavery commented on #101
We don't actually support multiple callbacks right now actually, can you explain what you're trying to do?

[2015-11-15 01:28] rikka94 commented on #101
I am currently writing a wrapper library in .NET using [edgeJS](https://github.com/tjanczuk/edge).

I've completed the sending and receiving message event handling part, now i am looking for a way to toggle the message listener on/off.

What i've been doing now i am storing the 'api' from the login callback into a GLOBAL variable so that i can access it from different script within same process.

[2015-11-16 01:28] bearbear12345 commented on #89
Hi, I've only gotten this error once, during my logging period
[code]
at epoch 1447576341

There weren't any messages near that time

-----------

Messages also continue to be received after the error

[2015-11-16 04:28] rikka94 opened #102 "getThreadList issue"
[code]
When the start index > user's total unarchieved message count.

[2015-11-16 04:31] #102 closed

[2015-11-16 04:32] rikka94 commented on #102
Sorry I mistaken it was an unhandled exception, because the error log shown when i didn't log anything .

[2015-11-16 04:36] nripendra opened #103 "Doesn't work without terminal console"
facebook-chat-api does seem to have hard dependency on terminal console. I'm trying to build electron app, and it works fine if I launch using command console but gives warning with following is the snapshot of stacktrace, if I execute it dirrectly:

Unhandled rejection Error: EPERM: operation not permitted, write
    at Error (native)
    at Object.fs.writeSync (fs.js:663:20)
    at SyncWriteStre

[2015-11-16 04:43] Schmavery commented on #101
If all you're trying to do is stop the callback, you're definitely going to want to call the stopListening callback like @bsansouci explained.  Calling listen() with no arguments has undefined behaviour right now.

[2015-11-16 05:59] rikka94 commented on #101
i don't have issue stopping the callback but i need to restart it after stopping.

Anyway i got dirty solution myself by blocking the callback using a boolean.

Thanks for the help

[2015-11-16 18:03] Schmavery commented on #101
So after calling stopListening, you aren't able to register a new callback?  I'm assuming you get no errors but you just never get any events?

[2015-11-16 18:44] Schmavery commented on #103
We intentionally went with npmlog because it's a relatively mature framework that should be able to handle situations like this.  Checking [their docs](https://github.com/npm/npmlog#logstream), it looks like you should be able to change `log.stream`to whatever you want to.  Let us know if that works for you.

[2015-11-17 01:12] rikka94 commented on #101
Yea no error is show, just can't get event after stopping and register again..

Did you able to restart it ?

[2015-11-17 05:27] pete10 commented on #98
Okay no problems at all! Thanks for looking into that!

Peter

[2015-11-17 06:27] nripendra commented on #103
@Schmavery

I have found a [work around](https://github.com/atom/electron/blob/master/atom/browser/lib/init.coffee), replacing write method of stderr/stdout works fine.

[code]

[2015-11-17 06:27] #103 closed

[2015-11-17 18:01] Schmavery commented on #98
Definitely, thanks for bringing it to our attention :)

[2015-11-17 18:01] #98 closed

[2015-11-17 18:27] Schmavery commented on #89
@bsansouci Can we suppress these ETIMEDOUT errors or do you think we should force users to handle them?

[2015-11-17 19:09] bsansouci commented on #89
I'm not sure why those appear. We can suppress them for now.

[2015-11-18 20:37] Schmavery commented on #100
@mrkno turning off `listenEvents` should be a workaround for now, but we're still interested to know more about this problem so that we can fix it.

[2015-11-19 04:17] mrkno commented on #100
@Schmavery sorry for the delay - I've been quite busy lately with a few other things.

I did some testing and printed out the value of event after line 290 as requested earlier using v1.0.3.
[code]
The stack trace then follows the same as above.
I was able to create a new group chat that did not cause this problem, but when I originally reproduced the error it was also on a new chat so I don't kno

[2015-11-19 18:46] Schmavery commented on #100
@mrkno Thanks for the information.  We're also a little busy so we'll look into it as soon as we get a chance :smile:

[2015-11-19 18:56] Schmavery commented on #100
@bsansouci Looks like Facebook changed their signature for typ events in groups.  Looks like we can change [this line](https://github.com/Schmavery/facebook-chat-api/blob/master/utils.js#L294) from
`threadID: event.to.toString(),`
to
`threadID: (event.to || event.thread_fbid).toString(),`
to fix this.

[2015-11-19 18:57] bsansouci commented on #100
I think they only rolled out the update to part of the population. It's `event.to` on my end and I childishly assumed it would be the same everywhere. I agree with this fix.

[2015-11-19 19:00] #100 closed

[2015-11-19 19:00] Schmavery commented on #100
@mrkno Thanks for the heads up on this bug, please reopen if this doesn't fix it. :)

[2015-11-22 03:11] nripendra opened #104 "Persistent login"
Hi,

Is there a way to do a persistent login, such that I don't need to login every-time my application starts?

Mine is a gui application...

Regards.

[2015-11-22 05:31] Schmavery commented on #104
You should be able to do this using the `api.getAppState()` function and then passing it into the [login](https://github.com/Schmavery/facebook-chat-api/blob/master/DOCS.md#logincredentials-options-callback) (check out the section "Example (AppState loaded from file)")

[2015-11-22 06:29] nripendra commented on #104
Thanks! I'll give it  a try.

[2015-11-23 02:21] Schmavery commented on #104
Cool, please reopen this issue if it doesn't work out ;)

[2015-11-23 02:21] #104 closed

[2015-11-26 09:35] nripendra opened #105 "Mark as read broken"
Hi,

It seems mark as read got recently broken??

Seems to be move to some other url by facebook...

[code]
Was working quite fine few days ago.

Thanks,
Nripendra

[2015-11-26 10:05] nripendra commented on #105
Going through fb requests in network panel, the url seems right. Not sure where and why error is coming from.

[2015-11-26 10:08] Schmavery commented on #105
Is there any chance that it still works to mark them as read?  We were getting false errors in addUserToGroup earlier.

[2015-11-26 10:10] nripendra commented on #105
No, its not working, I have confirmed using fb web page.

[2015-11-26 10:15] nripendra commented on #105
Ok, it could be an issue in my code..
After some poking around. I see following as form request..
[code]

should have been the threadID.
I'll look more into the issue why threadID is undefined and come back to you.

[2015-11-26 10:18] Schmavery commented on #105
If you want to show us a code sample that exhibits this problem, it'll be easier for us to diagnose.  :)

[2015-11-26 10:22] nripendra commented on #105
Hmm, actually found the issue. The property of user used to be "id", now it's userID so that seem to be causing the issue. :)

The exact code is in github itself.. [here](https://github.com/nripendra/fb-messenger/blob/develop/src/components/conversation.tsx#L63)

[2015-11-26 10:31] Schmavery commented on #105
Sounds like it's not a problem with the api then?  Can I resolve this issue?  Unfortunately v1 had a number of breaking changes, but at least it's a lot more consistent now. :)

[2015-11-26 10:32] nripendra commented on #105
Yes, fixing that line fixed the issue. Closing the issue now.

[2015-11-26 10:32] #105 closed

[2015-11-28 03:59] nripendra opened #107 "Seen notification"
I was thinking it would be part of "event" type but doesn't seem to be the case?

[2015-12-06 10:50] lasseborly opened #110 "Cannot read property 'toString' of undefined"
[code]

I'm getting this error by doing something rather trivial. Is it me being totally off point or what is happening here?

[code]

I'm sorry if this issue is same as [this](https://github.com/Schmavery/facebook-chat-api/issues/89) but a solution was not to be found from that issue.

[2015-12-07 16:19] bsansouci commented on #110
Hey @lasseborly, that does seem like #89. Can you print `event` right above [this line](https://github.com/Schmavery/facebook-chat-api/blob/f9be7a15738003cc185ed3dae5a21193d9dec59d/utils.js#L291) and give us the output?

[2015-12-07 19:39] Schmavery commented on #110
As far as I understood #89 had a non-null `err` and was very intermittent, so they could potentially be different issues.  Regardless, it would be nice see the result of @bsansouci's suggestion.

@bsansouci I would like if we could start logging things like this all the time under a `verbose` mode that can be enabled in the start options.  Having proper logs would make these issues easier to debug

[2015-12-07 19:41] bsansouci commented on #110
@Schmavery I'm ok with verbose logging

[2015-12-07 19:50] Schmavery commented on #107
Sorry, I don't really understand what you're asking for here.
Are you seeing an undocumented type of event?
Or is this a feature request?

[2015-12-08 11:00] nripendra commented on #107
It could be termed a feature request if we don't have this type of event already.
I want to notify user, when a sent message has been marked as read on other side.

It is basically markAsRead in reverse direction..

Please let me know if it's still not clear.

[2015-12-08 19:50] bsansouci commented on #107
@nripendra tell me if this works for you.

[2015-12-08 20:37] Schmavery commented on #107
Assuming this works, it needs to be documented.

[2015-12-08 20:42] #107 closed

[2015-12-09 02:51] blazeu commented on #110
This happens whenever ``typ`` event is received

[2015-12-09 07:03] nripendra commented on #107
I'll check and comment when I get time. Thanks!

[2015-12-09 18:45] Schmavery commented on #110
We've had some issues in the past of facebook serving different version of the typ event to different people, making it difficult to debug.  If someone who is experiencing this problem could post the result of @bsansouci's instructions above and print out the original typ event, that would be extremely helpful.

[2015-12-10 07:16] blazeu commented on #110
Apparently this is fixed in commit 4d3619d80f78ac8540bb42443d3e7c6d044764f7, but it's not on npm

[2015-12-10 18:21] Schmavery commented on #110
I'll publish when I get home, having not done so because it was never confirmed that 4d3619d actually solved #100.
It would be nice if @lasseborly could confirm that the most recent version of the repo is fixing his problem.

[2015-12-11 05:59] Schmavery commented on #110
The newest changes are now on npm.
@lasseborly can you update to v1.0.4 (latest) and confirm it is working?

[2015-12-11 17:10] lasseborly commented on #110
Sorry for the late update. I have updated to the newest version (1.0.4) and printing event right before [this line](https://github.com/Schmavery/facebook-chat-api/blob/f9be7a15738003cc185ed3dae5a21193d9dec59d/utils.js#L291) returns me `{ type: 'typ', from: 590007219, st: 1 }`  and the same errors occurs.

So unfortunately no @Schmavery, the update did not solve it for some reason.

[2015-12-11 18:28] Schmavery commented on #110
Ok thanks for the update.  Looks like I was right and facebook might be serving a couple of different versions of this endpoint (though as @bsansouci pointed out, our tests don't actually cover this right now).
Is there any chance that you can confirm that this only happens in a 1-on-1 chat or whether it also happens in a group chat? (3+ people).  If you get the same error in a group chat, can you

[2015-12-11 18:37] Schmavery commented on #110
Hey @lasseborly, I just went with my hunch and made a change that should fix your issue.  Can you update to the latest github version (haven't pushed to npm yet) and verify that it works?

[2015-12-12 02:40] tejasmanohar opened #112 "How to find group ID?"

[2015-12-12 05:08] blazeu commented on #112
``threadID`` on ``api.listen``'s callback is group ID on group chat.

If you want to check it manually, open [facebook.com/messages/](https://www.facebook.com/messages/), select the group chat and then look at the url ``facebook.com/messages/conversation-{groupID}``

[2015-12-12 05:08] tejasmanohar commented on #112
got it

[2015-12-12 05:08] #112 closed

[2015-12-14 20:42] rgwsk65 opened #114 "Error on login - wrong email/password"
Hey, I get this error today and I fixed it by changing "www.facebook" to "web.facebook" in all files

[2015-12-15 14:16] bsansouci commented on #114
That's very strange. Can you add `require('fs').writeFileSync('testing.html', res.body)` here https://github.com/Schmavery/facebook-chat-api/blob/3851842759cf009d2998163bd06fccfc66c3d9ab/index.js#L152 and check what the `testing.html` page looks like?
My best guess is that your account got blocked, and somehow visiting `web.facebook` bypasses that block. Our error "Error on login - wrong email/pas

[2015-12-17 05:05] tampham47 opened #116 "May I send messages with accesstoken?"
I don't want to get email/password from users.
I already have access_token, may I use this token to create a new message?

[2015-12-17 08:52] Schmavery commented on #116
Unfortunately not.  Facebook seems to currently do a pretty good job of making this impossible.

[2015-12-17 08:52] #116 closed

[2015-12-17 14:53] rgwsk65 commented on #114
I switched back www.facebook* and everything is okay. Probably that could be a block, because i switched user agent to mine preferred ;). Thank you for your response ;)

[2015-12-17 14:53] #114 closed

[2015-12-17 14:54] bsansouci commented on #114
No problem! That's a very weird behavior though. Would you mind still printing to a file whenever you can reproduce that? I'd love to see what happens so we can handle that edge case  more smoothly.

[2015-12-22 10:43] nripendra opened #118 "Event on login progress"
Login process looks fine for CLI, but on GUI it looks like something went wrong because it takes quite sometime to complete.

Could it be possible to add some kind of event notification for login progress? My idea is to show something like approx. progressbar on my UI.

[2015-12-22 19:04] Schmavery commented on #118
Does it really takes that long?  It usually doesn't take longer than a couple seconds for me.  Can you display a spinner or something?

[2015-12-23 05:13] widder opened #119 "SyntaxError: Duplicate data property in object literal not allowed in strict mode"
[code]

[2015-12-23 06:29] nripendra commented on #118
@Schmavery I'd like to point out that I'm based at Nepal. Broadband here may not be as fast. For me login process takes about 15-20 seconds. Even with spinner it looks broken.

While testing there has been instance where things were really broken due to my code changes. But I was waiting, since login usually takes some time.

In contrast to GUI, in CLI I do get some progress feedback like "Logging

[2015-12-23 21:44] bsansouci commented on #118
An event system would be a significant change for us. It could be done if enough people request it, but for now I'd suggest you "hack" into the logger. You can simply inject your own logging function that'll check the messages logged and react to those events. Check out [this page](https://github.com/npm/npmlog), it explains the npmlog api.

[2015-12-24 12:20] nripendra commented on #118
@bsansouci Thanks for suggestion. I'll look into it.

[2015-12-25 00:15] Schmavery commented on #119
Fixed by #120

[2015-12-25 00:15] #119 closed

[2015-12-25 13:19] Weetbix opened #122 "forceLogin not used?"
Am I crazy or is the forceLogin option never used by facebook-chat-api?

[2015-12-26 05:54] Schmavery commented on #122
@bsansouci I was under the impression that we are using this option to auto-unblock in some cases.
Namely https://github.com/Schmavery/facebook-chat-api/blob/master/index.js#L215-L219, but doesn't look like it's actually being used.  Do you know if this was removed?

Regardless, we'll probably leave it in incase it comes up in the future.  `forceLogin` doesn't make any guarantees, it just "tries h

[2015-12-26 11:25] Weetbix commented on #122
Looks like it may have been accidentally removed while refactoring here: https://github.com/Schmavery/facebook-chat-api/commit/b66a95081be9cd0e3202a7df95bad90398112327#diff-168726dbe96b3ce427e7fedce31bb0bcL265

Seems like the behaviour now is to always force login, regardless of the forceLogin option (which the docs say defaults to false).

I think re-adding the throw statement if the option is fa

[2015-12-26 22:02] petr-stety-stetka opened #123 "npm test errors"
When I run `npm test` command I get this errors: :(
Yes, I created file test-config.json according to instructions.
Can you help me, please?
[code]

[2015-12-26 22:33] petr-stety-stetka commented on #123
What mean this error, please?
`[SyntaxError: Duplicate data property in object literal not allowed in strict mode`

[2015-12-27 03:30] Schmavery commented on #122
Thanks for finding this.  I'd like @bsansouci to chime in on this before we make any moves, we'll give him a couple days considering the time of year ;)

I agree for now that we should re-add the throw.

[2015-12-27 03:33] Schmavery commented on #123
This error refers to a duplicate key in an object.  For example:
[code]
Here `key1` is seen twice.  This used to be the case in a utils function in our code.  This has since been fixed.  I would recommend updating to the newest code on github and trying again.

[2015-12-27 13:18] petr-stety-stetka commented on #123
The latest code from github works, thank you.  :)

[2015-12-27 13:18] #123 closed

[2015-12-28 04:53] helloworld opened #124 "Chat color/emoji/nicknames"
Messenger recently released an update to change a chat's color and default emoji.

Is there anyway to incorporate changing them into this API?

[2015-12-28 09:54] blazeu commented on #124
Yes,
but currently the Facebook web doesn't have them (at least for me) so, i suggest we should wait until it's released on Facebook web.

[2015-12-28 19:26] bsansouci commented on #124
Yes and messenger.com has it. We can definitely add it, but it'll take us a couple of days once we get free time. @Schmavery?

[2015-12-28 21:46] helloworld commented on #124
That would be awesome! I can think of some very cool use cases already if this were to be implemented.

[2015-12-29 17:33] Schmavery commented on #124
I want this functionality but realistically it might be a little while before we find the time to reverse engineer it.  Pull requests are welcome as usual <3

[2015-12-29 17:38] Schmavery commented on #110
I'm going to close this assuming it worked.  Please reopen if you have a problem.

[2015-12-30 12:18] bearbear12345 commented on #89
So like @lasseborly referenced, I, too am also getting that issue.
Decided to turn on 'silly' logging today, and got the same thing

[code]

#runasroot

[2015-12-30 12:19] bearbear12345 commented on #110
Hi, I'm also getting this issue on v1.0.4

https://github.com/Schmavery/facebook-chat-api/issues/89#issuecomment-167988809

[2015-12-30 14:20] bearbear12345 commented on #110
^ Looks like some typing events don't have all the information.

To be honest, I don't think many users need the typing event, maybe add an option to not listen to those events? / ignore them?

[2015-12-31 00:36] bearbear12345 commented on #110
Ideally you could edit **facebook-chat-api/src/listen.js**, removing lines 107 to 112, leaving just the break.

Temporary solution - I ended up just overriding the **formatTyp** function in my script to remove the other keys that don't always appear
[code]

Would be better if it could just not be called at all, but overriding the whole listen function isn't going to work well

[2016-01-01 03:46] Konstantinusz opened #125 "I get error message when try to uploading an animated GIF as an attachment"
Error message:
[code]

My script:
[code]

[2016-01-01 19:40] bsansouci commented on #89
This really doesn't seem like the same error.  This is a very specific problem where Facebook sends us a timeout error for no reason.  This actually isn't really a problem with the API.
Your issue is handled by #110.

[2016-01-01 20:01] bsansouci commented on #110
[code]
Please try it like this.  I don't understand why this wouldn't work given the events you showed us.

[2016-01-01 20:04] bsansouci commented on #110
Also as @Schmavery said, this code isn't pushed to npm repo yet, so v1.0.4 isn't what you want.  If you want to actually check if this works, please update to the latest github version (aka please clone the master branch) as mentioned, otherwise you may have issues with other fixed bugs.

[2016-01-01 20:35] bsansouci commented on #125
Hey @Konstantinusz, we were able to reproduce this error when uploading a file that was named "X.gif" that really was a text file (aka not actually a gif). We tried with the web UI (messenger.com) and get the same error: a 500 response code from the server.

We tried it with a properly formatted gif and seemed to work fine on our side. Can you double check the gif that you're trying to upload? Als

[2016-01-01 22:01] qcmaude commented on #124
Although messenger.com shows the custom colours, nicknames and emoji, it does not allow you to update them. This is strictly an app feature for now. As @blazeu said, once it's implemented in the web UI, we'll add it :smile:

[2016-01-01 22:04] helloworld commented on #124
When it is implemented, could I work with one of you to help implement it? I'd love to learn the process behind reverse engineering the requests!

[2016-01-02 01:28] bearbear12345 commented on #110
I wrote some of the event outputs in the comments of 2059829317ed40d0c46872ddea763e05c441d4af

[2016-01-02 05:45] Konstantinusz commented on #125
At first I tried with an 5 MB gif file, I think, it was a valid, I generated with Jasc Animation Shop. The result was the abovementioned error message. Then I tried gif animations generated with FFmpeg, it was much larger in size than 5 MB, up to 20 MB, and there were no error messages with them. However I was able to upload the "erroneous" 5 MB gif animation by plain browser (Chrome) and it workd

[2016-01-02 06:26] Konstantinusz commented on #125
I checked again, there is some problem with that GIF animation, it plays fine in browser when I open it from the disk, or from an imgur.com URL, but can not be uploaded to chat window, even Chrome thow an error message when uploading finishes. Imagemagick command identify also shows it valid file, but it seems somehow it became bogus and I accidentally tried with that the attachment upload feature

[2016-01-02 16:21] Schmavery commented on #125
If it isn't working in chrome, this is sounding like a Facebook bug.  It seems strange though.

[2016-01-03 01:24] andyjbas opened #126 "api.logout fails"
[When trying to compose the logout form](https://github.com/Schmavery/facebook-chat-api/blob/master/src/logout.js#L18-L20), the filter function fails while looking for the label of `Log Out`. The label `Log out` **does** exist, however.

[2016-01-03 02:06] bsansouci commented on #126
Hey @andyjbas, could you add `console.log(v)` [above this line](https://github.com/Schmavery/facebook-chat-api/blob/526ebfe9730d67a0020fb6ef564137f79f4bbe4a/src/logout.js#L19) and copy paste the result  here?
It seems to work fine on my end. @Schmavery on another note, I found a field `value` inside those objects which contains `logout` which sounds more stable that the `label` field we're using [

[2016-01-03 02:12] andyjbas commented on #126
[code]

I agree about the `value` field.

[2016-01-03 12:45] webfreak7 opened #127 "Nickname"
With the new messenger update is there a way to get access to the nickname of a user in a group chat along with the other features as well (color change, emoticon change etc)

[2016-01-03 15:43] Schmavery commented on #127
#124

[2016-01-03 15:43] #127 closed

[2016-01-03 21:03] Schmavery commented on #126
The value field sounds like a good fix to me.

[2016-01-03 21:04] Schmavery commented on #125
I'm going to close this for now since we don't seem to have much control over it.

[2016-01-03 21:04] #125 closed

[2016-01-03 21:11] Schmavery commented on #110
We saw those events and there should be no reason that they wouldn't be handled by the latest code.  Please test again using the above instructions.

[2016-01-03 21:12] Schmavery commented on #118
Closing.  Feel free to open if you need more help.

[2016-01-03 21:12] #118 closed

[2016-01-03 22:34] trvrsalom opened #128 "api.getUserInfo() is not returning expected data."
When calling api.getUserIndo() with either an array of ids or a single id, it is unable to be parsed by makeParseable and JSON.parse, due to a 404 error: `Not Found <br /><a href="http://www.facebook.com/">Back to Facebook.</a>`. Trying to manually remove this message from the rest of the JSON, returns to a whole bunch of data, but not the expected data.

[2016-01-04 04:21] bsansouci commented on #128
I just tried to run the tests and `getUserInfo` worked fine here. Could you show how you use it? Are you using the most recent code (master on github, not npm)?
Also could you paste the "whole bunch of data" that you get.

[2016-01-04 04:52] ilhamiarie opened #129 "getting error on sending message."
hai @Schmavery, I had just encountered an error when sending a message .

Unhandled rejection TypeError: Cannot read property 'threadID' of undefined
    at callback (E:\netbeans 81\Add Otomax Facebook\main.js:36:43)
    at E:\netbeans 81\Add Otomax Facebook\node_modules\facebook-chat-api\src\listen.js:244:7
    at tryCatcher (E:\netbeans 81\Add Otomax Facebook\node_modules\bluebird\js\main\util.j

[2016-01-04 07:14] trvrsalom commented on #128
I updated via npm, and now it works fine.

I managed to lose the "whole bunch of data" that I was getting, however it contained information about all threads and users.

[2016-01-04 07:14] #128 closed

[2016-01-04 12:03] bsansouci commented on #128
Good news!

[2016-01-04 17:47] Schmavery commented on #129
Please post a sample program that exhibits this behavior so that we can help find the issue. :smile:

[2016-01-05 15:44] bsansouci commented on #129
Looking at the stack trace it seems like the error is thrown because your code's accessing`threadID` of some undefined object. My guess is that you didn't check the error passed to the callback, which in this case would be set (and therefore the 2nd argument to the callback would be undefined). Can you check?

[2016-01-06 08:12] petr-stety-stetka opened #132 "No Nodejs"
Is here way, how use facebook-chat-api without nodejs, only with javascript?

[2016-01-06 10:21] smithkre opened #133 "Attach image by uploading error"
Can't upload image by using

[code]

Error message on

ERR! ERROR in sendMessage -->  { error: 'JSON.parse error. Check the `detail` property on this error.',
ERR! ERROR in sendMessage -->    detail: [SyntaxError: Unexpected end of input],
ERR! ERROR in sendMessage -->    res: '' }

In sendMessage.js
 defaultFuncs
        .post("https://www.facebook.com/ajax/mercury/send_messages.php", ctx.jar, fo

[2016-01-06 15:10] bsansouci commented on #132
cc @Schmavery.
I don't think there is anything that makes it impossible. The "easiest" way would probably be to mock out the `request` module and use something like webpack to bundle everything in one file. This isn't really a priority right now, but feel free to send us a PR. We might look into it if enough people request this feature.

[2016-01-06 15:11] bsansouci commented on #122
90a06ed5fa3a0269193ccb3d52f12a58a47a43ec

[2016-01-06 15:11] #122 closed

[2016-01-06 15:13] bsansouci commented on #133
Hey! This looks similar to #125. Can you check if you can upload that jpg manually on FB chat? Can you print the whole stack trace too?

[2016-01-06 18:13] Schmavery commented on #133
@smithkre I'm assuming that the file you named kitty.jpg actually exists in that directory and is actually a jpg.  If not, that will probably cause this error.
@bsansouci I'd imagine this is the same issue as #125 as the tests do check image upload.  That said, I just looked and we're uploading a png in the test rather than a jpg.  Thanks for your latest commit 90a06ed that checks the response cod

[2016-01-06 20:43] #126 closed

[2016-01-06 22:56] nishilshah17 opened #136 "Accepting Friend Requests?"
Is there anyway to accept friend requests using this API? If I wanted to develop that feature, how would I get started?

[2016-01-07 06:56] Schmavery commented on #136
Currently this is not in the scope of this project.  Our goal is to make a clean interface for facebook chat functionality, not fill in all the gaps of the official API.
It's possible that someone here (@bsansouci) will have an idea of how to go about this.  Generally what we've done in the past is opened up the developer tools in the browser and watched which requests are performed when making th

[2016-01-08 02:10] bearbear12345 opened #137 "Error sending message"
Logging on silly mode:

[code]

code:
[code]

[2016-01-08 02:23] bearbear12345 commented on #137
Update 1:

Error code 1357004 supposedly is related to a CSRF check fail?

Also the issue seems to only affect my main account, testing the code with a different login works

[2016-01-08 02:30] bsansouci commented on #137
hey @bearbear12345, just ran our tests and things seem to work fine for us. Can you login with a browser and check if you can login properly?

[2016-01-08 02:31] bearbear12345 commented on #137
Yes logging in works

[2016-01-08 02:35] isn0gud commented on #137
I have the same issue, but with all of my accounts. I get an error with `getFriendsList` too.

[code]

Website login works fine too

[2016-01-08 02:45] bearbear12345 commented on #137
[code]

Full length of @isn0gud's error

Though it should be in a different issue

[2016-01-08 05:55] bsansouci commented on #137
Hey @Schmavery just published on npm, can you both pull the latest version v1.0.5 and try again?

[2016-01-08 13:17] isn0gud commented on #137
I get the same error, maybe fb changed the request

[2016-01-08 13:50] Weetbix commented on #137
I get the same issue (error: 1357004) as @bearbear12345 with 1.0.5

[2016-01-08 16:51] isn0gud commented on #137
How do I turn on the request logging so I can take a look into where it differs from the requests done by the browser?

[2016-01-08 17:27] bsansouci commented on #137
We still can't reproduce those errors here. I pushed some (maybe) fix, can you try from master?

[2016-01-08 17:35] Weetbix commented on #137
Just tried with master, still the same error unfortunately

[2016-01-08 17:44] Schmavery commented on #137
Could someone who is experiencing this see what gets sent in the browser when a message is sent and send it to us?  Looks like @bsansouci and I are getting served a different version.
We'll add some more verbose logging when we get a chance to help with these problems in the future.

[2016-01-08 18:14] Schmavery commented on #137
On the other hand, if someone is experiencing this issue on a test account that they don't mind emailing us the password for...

[2016-01-08 22:52] isn0gud commented on #137
I made another test account on which its working fine. @Schmavery you don't have a email in your profile. Send me one so I can answer you with the credentials.

[2016-01-08 23:03] Schmavery commented on #137
You can send it to avery.schmavery@gmail.com
Thanks

[2016-01-08 23:37] Schmavery commented on #137
Thanks @isn0gud, got your email and we're able to repro this error using your account, so hopefully we'll have this fixed soon :)

[2016-01-09 00:51] gmork opened #138 "Cannot read property 'filter' of undefined"
Error with stacktrace:
[code]

This happens for a specific group chat my user is in (5 participants, including myself). It could be that that thread was archived before receiving messages on it again though.

[2016-01-09 01:45] bsansouci commented on #138
Mmmmh seems like `res` can only ever be empty when there's an error. Looking at the code, [this line](https://github.com/Schmavery/facebook-chat-api/blob/00788a221de0d07be1571cab9834ada60be71681/src/listen.js#L165) should probably return.
I pushed d45b6e73460168a503c0747ab8897a4d739b7f26, can you pull and check if that's fixed?

[2016-01-09 09:36] bsansouci commented on #137
Can you all pull and try with this 2116a3926ef751eaf8e4ec862baf27a86f8058c9 fix?

[2016-01-09 09:39] #136 closed

[2016-01-09 12:22] isn0gud commented on #137
seems to work :+1:

[2016-01-09 12:26] bearbear12345 commented on #137
confirmed to be working for me :) thanks

receiving the following verbose output
[code]

[2016-01-09 12:28] bearbear12345 commented on #137
Leave

[2016-01-09 14:02] gmork commented on #138
This branch does seem to fix the error. Any idea why this group chat returns an error when receiving messages throug the listen api? In this case: `{"error":"Could not find thread ``."}`?

Off-topic:
On the master branch there's the following error
[code]

[2016-01-09 14:23] Weetbix commented on #137
Excellent, working for me too :smile: Thanks!

[2016-01-09 17:05] bearbear12345 commented on #137
waiiitt

The latest commit had fixed messages, however I am still getting the initial error sending an attachment

(aka not working for image attachments)

[2016-01-09 18:54] Schmavery commented on #137
I believe there's already a separate issue addressing image attachments so we can probably still close this one if it works.

[2016-01-09 19:06] Schmavery commented on #138
Under what circumstances do you run into this error?  Do you get it for all group chats?  It looks kind of like this chat group has the name empty string.

@bsansouci the second one looks like a node version issue.  Do we have our dependencies set up right?  @gmork I'd suggest updating node to fix this probably.

[2016-01-09 19:42] RandallKent commented on #137
Just tested sending a message on `master` at 2116a3926ef751eaf8e4ec862baf27a86f8058c9 and all worked as expected!

[2016-01-09 20:55] gmork commented on #138
npm update did result in a lot of updated dependencies, but not node itself. I'll check in a minute if this solved the problem on the master branch. As for the former issue, I added some debug output in the searchForThread.js:

[code]

It is indeed correct that the thread has no name, though, it seems like no chat on FB has a name unless you explicitly give it one. After changing the name of the c

[2016-01-09 21:27] gmork commented on #138
As for the problem on the master branch, `ch{["p_" + userID]: 0}` seems syntaxically wrong using `"use strict"`. Changing it to `chobject = new Object; chobject["p_" + userID] = 0;` and then passing `chobject` as a function parameter seems to do the trick!

[2016-01-10 01:14] bearbear12345 commented on #137
@Schmavery the other issues have different errors from what I am getting

[2016-01-10 01:16] dionyziz opened #139 "Login approvals are broken"
I'm having trouble getting the login process to work.

I have second factor and login approvals turned on. When attempting to login with my regular password using login(), the first callback has the following error:

[code]

My Facebook account is not blocked. I do not get a prompt to input my second factor. I tried to set `forceLogin` to `true` but it didn't help.

[2016-01-10 01:24] jackwilsdon commented on #139
This is supposedly fixed. Take a look at #22.

[2016-01-10 01:28] dionyziz commented on #139
It doesn't seem to be fixed, as I'm still getting the error. Should we reopen #22?

[2016-01-10 02:18] bsansouci commented on #138
@gmork To answer your last concern, what version of nodejs do you have? I have v4.1.1 which supports variables as keys in literals.

[2016-01-10 02:44] sushain97 commented on #139
See #131

[2016-01-10 03:00] Schmavery commented on #139
I just merged #131 so hopefully that will help for now.  I had been hoping for a better solution to the problem because the fix is still pretty fragile but at least it will work now if we're lucky.

[2016-01-10 13:03] gmork commented on #138
That did seem to do the trick, thanks! It seemed I was running a very outdated nodejs version (0.12). Any suggestions on the searchForThread.js issue? Maybe better to change this to a feature request instead of a bug then? ;-)

[2016-01-10 14:19] mehcode commented on #139
@Schmavery It doesn't work all the way. My PR was only the first tip of the iceberg unfortunately.

[2016-01-10 18:14] Schmavery commented on #138
If you could open a new issue for your problem with searchForThread, that would make it a lot easier for us to keep tech.
If you think we can consider the initial issue solved, we can close this issue and keep all the discussions clean.

[2016-01-10 18:16] Schmavery commented on #139
Oh OK, didn't see that when I read the PR the first time.  Didn't have 2FA enabled on my test account so I didn't treat your innocent change.
If someone wants to take another crack at this, feel free, otherwise we'll get to it when we can.

[2016-01-10 18:51] Schmavery commented on #137
@bearbear12345 if I'm not mistaken, it seems like the original issue is solved.  Can you open a new issue for any subsequent issues?

[2016-01-10 19:54] gmork commented on #138
Sounds perfect, will do. Keep up the good work guys!

[2016-01-10 19:54] #138 closed

[2016-01-10 20:03] gmork opened #141 "Could not find thread for a chat with 5 people"
As a followup of https://github.com/Schmavery/facebook-chat-api/issues/138, filing this issue as a feature request: group chats get selected based upon a conversation's name, which is a non-required property for Facebook.

This returns as an error `{"error":"Could not find thread."}` for the affected group chat as a result for the api.listen callback.

I haven't had the time yet to find the circum

[2016-01-10 21:20] vkeusebio commented on #137
has this been solved? I, too, couldn't send a message

[code]

[2016-01-11 00:21] Schmavery commented on #141
Riiight okay I'm beginning to see what the problem could be.  We have a special code path that happens for group chats with more than 5 people because facebook doesn't give us all the users for group chats when they're too big.
I've always hated the use of searchForThread to solve this problem but thought we could get away with it.  Guess we'll have to revisit this when we get a chance.

[2016-01-11 02:53] bearbear12345 commented on #137
@Schmavery

I suppose, but I still think that the issue is only partially solved, since sending an attachment message reproduces the same error, but I'll open a new one

[2016-01-11 02:53] #137 closed

[2016-01-11 03:06] bearbear12345 opened #142 "Error sending attachment"
Logging on silly mode:

[code]

code:
[code]

image exists

[2016-01-11 03:20] Schmavery commented on #129
I'm going to close this because a fair number of issues have been solved in sendMessage lately.  Please reopen with more details if this continues to be a problem for you.

[2016-01-11 03:20] #129 closed

[2016-01-11 03:20] bsansouci commented on #133
@smithkre Can you pull and check to see if that works now?

[2016-01-11 03:22] Schmavery commented on #110
I'm going to close this for now.  If you run into problems please open a new issue.

[2016-01-11 03:22] #110 closed

[2016-01-11 03:23] bsansouci commented on #142
Hey @bearbear12345 can you check if the last commit solved this issue?

[2016-01-11 03:46] bearbear12345 commented on #142
Haha yep that fixed it, thanks!

[2016-01-11 03:46] #142 closed

[2016-01-11 05:36] smithkre commented on #133
Thanks for an update.
I got this error.

[Error: parseAndCheckLogin got status code: 500. Bailing out of trying to parse response.]

This is my code.

[code]

My img.jpg can upload manually. I am not sure.

[2016-01-11 08:34] Schmavery commented on #142
Awesome, thanks for bearing with us ;)

[2016-01-11 08:36] Schmavery commented on #133
Hey @smithkre, we are having a hard time reproing this issue.  Can you attach the image you're trying to upload?

[2016-01-11 08:37] Schmavery commented on #132
I agree with Ben here, not a priority, but I've personally wished we supported this for a while and I'd love if someone took a crack at it.  Not sure what the best way to go about it is, but it would be great to be able to have this API work in a browser.

[2016-01-11 08:56] smithkre commented on #133
Thank you @Schmavery

This is stack trace

ERR! Error in uploadAttachment Error: parseAndCheckLogin got status code: 500. Bailing out of trying to parse response.
ERR! Error in uploadAttachment     at /Users/Smith/Http/ec-helper/src/chat/engine/node_modules/facebook-chat-api/utils.js:396:40
ERR! Error in uploadAttachment     at tryCatcher (/Users/Smith/Http/ec-helper/src/chat/engine/node_modules/b

[2016-01-11 14:03] bsansouci commented on #133
Can you turn on verbose logging, try again and show us the logs. There should be a log starting with "parseAndCheckLogin: " containing the body of the response.

[2016-01-11 16:03] #141 closed

[2016-01-11 16:03] bsansouci commented on #141
Yeah, the problem comes from [this line](https://github.com/Schmavery/facebook-chat-api/blob/443aaac49aca426a4031affeb14d481cedc6af47/src/listen.js#L163-L164). I just pushed a fix, can you try?

[2016-01-11 16:04] bsansouci opened #143 "Fix "participants" to "participantIDs" in formatThread"
Just for consistency purposes. This is a breaking change though.

[2016-01-11 17:43] bsansouci commented on #141
This is a better fix ^

[2016-01-11 19:07] Schmavery commented on #143
I'd prefer to be redundant than to introduce a small breaking change.

[2016-01-11 19:33] gmork commented on #141
Thanks guys!

[2016-01-12 01:15] mehcode commented on #132
Or use something like `superagent` or `fetch` that is isomorphic.

[2016-01-12 02:26] mehcode opened #144 "Something went wrong when trying to fetch friends"
[code]

[code]

[code]

Will need to investigate more. This just happened. I can't reproduce it now though.

----

There were 3000+ friends.

[2016-01-12 02:31] mehcode opened #145 "getThreadList returns imageSrc=null"
[code]

[2016-01-12 02:32] mehcode opened #146 "When asking for message history and there is none, consider returning an empty [] instead of an error"
Currently we error with:

[code]

I'd figure it be better to just resolve with `[]`

[2016-01-12 02:34] mehcode opened #147 "Recieved a timeout error from listen"
[code]

What do you think is the cause of this? Any ideas? Maybe we should implement exponential back-off and retry a few times before erroring?

[2016-01-12 03:07] Schmavery commented on #147
Can you confirm that you continue to receive messages after receiving this error?  This is a duplicate of #89 and we're planning to simply suppress this error.

[2016-01-12 03:11] Schmavery commented on #146
Are you searching for a thread that doesn't exist?  As far as I know, https://github.com/Schmavery/facebook-chat-api/blob/master/src/getThreadHistory.js#L36-L38 was supposed to handle the case where you search for a thread with no history, though it's possible facebook has changed since then.

[2016-01-12 03:38] smithkre commented on #133
@bsansouci, No logs show on screen. It's only has error messages.

I inspected in chrome while uploading an image.
First time it's always get 400 error
Then messenger request with OPTIONS method and header

Access-Control-Request-Method: POST
Access-Control-Request-Headers: content-type

![screen shot 2559-01-12 at 10 35 06 am](https://cloud.githubusercontent.com/assets/5935688/12254139/2fc7da8e-b

[2016-01-12 05:35] bsansouci commented on #133
Could you add `console.log(data.body)` [here](https://github.com/Schmavery/facebook-chat-api/blob/ca9beae7c26dbd626e840a8c5c5f666839be8dc4/utils.js#L491) and copy paste the result here? I'm not sure `OPTIONS` is the right kind of request to be made here. In the end, to send the image you need to make a `POST` request for sure. @Schmavery any ideas?

[2016-01-12 05:37] bsansouci commented on #146
Agreed, if the thread doesn't exist it should return an error. No message found is a valid response though and should return an empty array.

[2016-01-12 05:38] bsansouci commented on #145
It seems like you have a different version than master. As of right now, master contains a lot of fixes so can you try that and see if you still get this error?
Also could you give us some steps to reproduce this if it still occurs on master?

[2016-01-12 05:39] Schmavery commented on #133
Maybe we have to make both an options and a post call?

[2016-01-12 05:43] bsansouci commented on #144
Can you paste the code you're using that's throwing? `4oh4.php` seems like FB didn't like `https://www.facebook.com/chat/user_info_all` which seems weird... Tell us if you get it again

[2016-01-12 16:15] mehcode commented on #147
@Schmavery Can confirm. I do continue to receive messages. Strange that facebook errors for no sane reason.

[2016-01-12 16:17] mehcode commented on #146
I'm searching for a thread using a friend ID that doesn't have an matching thread. So, yes, the thread doesn't exist. But the ID is a valid, potential, thread ID. I guess we can't tell the difference though.

[2016-01-12 16:20] mehcode commented on #145
@bsansouci Yes. I'm currently on the last released version. I'll upgrade to master.

---

[code]

[2016-01-12 16:21] mehcode commented on #144
[code]

----

That is the code for getting the friend list. I'll be investigating this and the other issues more, later today.

[2016-01-12 17:08] Schmavery commented on #147
OK great thanks.  I'm going to close this now since #89 is already tracking this issue.

[2016-01-12 17:08] #147 closed

[2016-01-12 17:10] Schmavery commented on #146
Personally I'm OK with this behaviour.  @bsansouci ?

[2016-01-12 17:23] bsansouci commented on #146
Yeah, I think returning an error is appropriate in this case. I'm not a huge fan of the totally wrong error message though, it'd be cool if we could fix those. That said, fixing FB's error messages seems like an whole other can of snails that we don't want to open...

[2016-01-12 17:29] mehcode commented on #146
Ok. I can get behind it. As long as it remains easy to identify I can continue ignoring the error.

[2016-01-12 18:28] Schmavery commented on #146
I like catching and rethrowing our own error as a good compromise.

[2016-01-13 02:13] smithkre commented on #133
OPTIONS does not return message.

Do you don't get error while upload right?

My options look like this.
[code]

I will try to figure out again.

[2016-01-13 06:21] Schmavery commented on #133
Ahh @bsansouci pretty sure our tests don't cover login as page.

[2016-01-13 10:37] eexit commented on #139
Same here, disabling the MFA worked it out.

[2016-01-14 09:27] sauravtom commented on #133
I am also getting the same error, here's the verbose stack trace

[code]

I am able to upload the same file (image.png) through messenger on chrome.

[2016-01-14 17:50] Schmavery commented on #133
@sauravtom are you also using our api as a page?

[2016-01-14 18:18] sauravtom commented on #133
@Schmavery , yes I am using as a page.

P.S I just tried it without page, and it is working. But not able to get it working when using the API as page.

[2016-01-14 21:19] Schmavery commented on #133
Ok great, I think it's pretty clear now that we fixed this issue for regular messages but not pages.  Thanks.

[2016-01-15 01:14] isn0gud opened #148 "getThreadHistory returns no thread history"
`getThreadHistory` does return an empty array instead of the latest messages. Receiving and sending messages works fine. Did I miss something?

[code]

[2016-01-15 01:29] mehcode commented on #148
[code]

The fourth parameter, timestamp, is "get all messages after <timestamp>".

[2016-01-15 01:37] #148 closed

[2016-01-15 01:42] bsansouci commented on #148
Good catch @mehcode. Sorry about the bad docs @isn0gud :/

[2016-01-15 08:01] Schmavery commented on #145
@bsansouci Given the error, I'd imagine facebook has changed the signature and no longer returns a `snippet_sender` property on the object. https://github.com/Schmavery/facebook-chat-api/blob/master/utils.js#L575

[2016-01-15 11:34] maeishoj opened #149 "Can't set headers after they are sent"
Hey there,

I have the following:
[code]
When I get the first message after I logged in, it's all good, but the 2nd incoming message throws :

ERR! ERROR in listen -->  Error: Can't set headers after they are sent.
ERR! ERROR in listen -->    at ServerResponse.OutgoingMessage.setHeader (_http_outgoing.js:350:11)

....

Why is that? what's wrong with what I am doing?

[2016-01-15 15:37] bsansouci commented on #149
Could you show the full stack trace? Are you sure you can simply do `res.send({...})` multiple times? I'm guessing you're using express, then you can only reply to a request once.

[2016-01-15 15:55] bsansouci commented on #146
@Schmavery if we re-throw we (finally) have to decide how we're going to identify our own errors so @mehcode can simply ignore this error. Here's a proposal off the top of my head: have a `utils.formatError([string | fberror], id)` that output something of the shape:
[code]
and where `fberror` has the shape:
[code]

[2016-01-15 17:03] Schmavery commented on #149
@bsansouci this might be the retry code being hit.

[2016-01-15 17:07] Schmavery commented on #146
@bsansouci Lgtm

[2016-01-15 17:41] maeishoj commented on #149
@bsansouci oh, thinking about it, it makes sense! sorry! If I return once, the connection to client is closed, and therefore even if the listener is still running, it cannot re-use that response it already used! :/ what was I thinking.... The api listener should be instead running in it's own processes in the server and use websockets or something to push those notifications to the user when avail

[2016-01-15 17:50] bsansouci commented on #149
@maeishoj We want to keep this API as unopinionated as possible concerning the way its used. If you need to push messages to a client you're going to have to use web sockets yes. It's pretty trivial to implement using our api:
[code]

The api doesn't necessarily need to run on another process, nodejs is designed to handle events and run callbacks...

[2016-01-15 17:50] #149 closed

[2016-01-15 17:52] maeishoj commented on #149
:+1:

Perfect.

[2016-01-17 10:05] kshvmdn opened #151 "Cannot read property 'filter' of undefined"
Seems as if thread can't be found when there's a symbol in title.

Error with stacktrace:
[code]

Come across error when `threadName` contains special symbols. Shouldn't be hard to reproduce, try with `§` in chat name.

[2016-01-17 19:11] kshvmdn commented on #151
Only happening when group chat has more than 4 participants.

[2016-01-17 19:31] kshvmdn commented on #151
Fixed in https://github.com/Schmavery/facebook-chat-api/commit/ca9beae7c26dbd626e840a8c5c5f666839be8dc4, my mistake.

[2016-01-17 19:31] #151 closed

[2016-01-19 09:22] jobbogamer opened #152 "Error in uploadAttachment when sending images with certain aspect ratios"
I'm attempting to send images as attachments by opening an image URL as a stream, then passing that to the send function. Most images work fine, but if I use an image that has _approximately_ a 2:1 aspect ratio, I get an error:

[code]

If I send any other aspect ratio, it works and uploads perfectly.

[2016-01-19 15:06] bsansouci commented on #152
We had a bunch of problems with sending images in the past. Can you check if you can send that specific image from the browser (on `www.facebook.com`)?
Can you add `console.log(data.body)` **above** [this line](https://github.com/Schmavery/facebook-chat-api/blob/bd056e4cd1f623e2e7ec1b92e241041358352103/utils.js#L505) and paste the prints right before it throws that error.

[2016-01-19 18:03] Schmavery commented on #152
@bsansouci We've made a number of changes without pushing to npm.  I can do that when I get home today.
@jobbogamer Are you trying to send this as a page?  It would also be cool to know what version of the API you're using.  Can you upload an example of a picture that fails?

[2016-01-19 23:18] matgott opened #153 "Error sending image."
Hi everyone! I used this example code:

var login = require("facebook-chat-api");

login({email: "matiascaloia@hotmail.com", password: "159875339251214"}, function callback (err, api) {
    if(err) return console.error(err);

    // Note this example uploads an image called image.jpg
    var yourID = 100002198660063;
    var msg = {
      body: "Manda fotito tambien",
      attachment: fs.createRe

[2016-01-19 23:36] Schmavery commented on #153
This example uses the built-in nodejs file system module `fs`, which you'll have to import.
[code]
We'll consider adding this to the docs.

[2016-01-19 23:37] #153 closed

[2016-01-20 00:20] matgott commented on #153
var fs = require("fs"); is in index.js. I thought that with that was enough. Now work. Thanks !

[2016-01-20 01:18] Schmavery commented on #153
Generally in when writing in nodejs, you're going to have to require separately in every file that you use a module.  The modules are cached so you don't need to worry about loading them many times.

[2016-01-20 10:27] jobbogamer commented on #152
OK, so the image is found here: https://plot.ly/~jobbogamer/17.png

This is sending as a regular account, not a page. I can send the image perfectly fine using the browser. Hopefully the below will help a bit…

I'm doing:
[code]

This massive wall of text is everything that got spat out by adding a `console.log()`:

[code]

[2016-01-20 12:30] matgott opened #154 "How to listen messagess."
Hi! I used the example code to listen messages but i can't listen anything. I execute the script and:

info Logging in...
info Logged in
info Request to pull 1
info Request to pull 2
info Request to thread_sync
info Done logging in.
info Got answer in 2896
info Got answer in 516
info Got answer in 50470
info Got answer in .....
info Got answer in .....

Never shows me any message

[2016-01-20 13:15] #154 closed

[2016-01-20 18:11] Schmavery commented on #152
@jobbogamer since I'm super smart and forgot to update npm last night, you might be helped by updating to master in the meantime.  A number of fixes have been made since 1.0.5.

[2016-01-20 18:21] Schmavery opened #156 "API fails after long uptime"
This is a bit of a tricky issue to troubleshoot so far, but I want to open this issue to track it.
@bsansouci can you post the stacktrace you got?

[2016-01-21 06:49] Schmavery commented on #152
@jobbogamer I just updated npm to 1.0.6.
Can you verify whether this has an effect on the issue you're experiencing?

[2016-01-21 10:14] anaganisk opened #157 "Not running in ubuntu but runs fine on windows"
When I run the script on windows its error free but when its run on an ubuntu server it gives the following error
/home/ubuntu/nodefbbot/node_modules/facebook-chat-api/utils.js:194
      ["p_" + userID]: 0
      ^
SyntaxError: Unexpected token [
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Mo

[2016-01-21 18:41] Schmavery commented on #157
Please update to the latest version of node.

[2016-01-21 18:47] #157 closed

[2016-01-23 17:24] txs opened #158 "Long latency times"
I can't get the listen event working.
If I have message posted. it doesn't show the message

It only track once when people see the message.
the Answer info got is about 1000 - 30000. Is it because it's too slow?

[2016-01-24 01:56] benzweig opened #159 "Crashes when receiving a message from M"
happened to notice this when M pinged my while i was testing a bot.

    Unhandled rejection TypeError: Cannot read property 'threadID' of undefined

this might be unfixable due to how facebook handles M, but i thought i'd bring it up as no one had yet.
thanks for the dope project!

[2016-01-24 01:59] bsansouci commented on #159
Hey @benzweig, thanks for finding out about this issue! Can you enable verbose logging (with options `{logLevel: 'verbose'}`), try to get M to message you again and paste the logs here?

[2016-01-24 06:07] nicolas-martin opened #160 "How does the login work?"
I want to apologize in advance, because this isn't an issue but more of a question.

I'm just curious as to how the login work, from what I understand. It first tries to scrap the `lsd` from the login page then tries to post to `https://www.facebook.com/login.php?login_attempt=1` and then grabbing the `fb_dtsg` token for later requests.

But for some reason when I try to replicate the login reques

[2016-01-24 06:26] Schmavery commented on #158
I'm sorry, it's hard to tell what problem you're having here.  Can you post an example of some code and what you're expecting it to do and what's happening instead?

[2016-01-24 08:13] bsansouci commented on #156
[code]

[2016-01-24 12:12] jobbogamer commented on #152
@Schmavery This is still happening in 1.0.6, same details and output as before.

[2016-01-25 00:19] Schmavery commented on #152
Thanks for the update.

[2016-01-25 10:26] txs commented on #158
I have this problem solved. But the message get speed is pretty slow and will failed after a long time. Is there a solution?

[2016-01-25 17:59] Schmavery commented on #158
We've had issues with people having long latency times in the past.  @bsansouci could this potentially be a problem with always using 0-edge-chat.facebook.com?

[2016-01-25 18:01] bsansouci commented on #158
Mmmh totally possible. We should look into hitting the server that FB would want us to hit :p

[2016-01-25 22:24] Schmavery opened #161 "Hit the right server"
We currently only ever hit 0-edge-chat.facebook.com.
This could be causing a couple of issues, like #156 and #158.

[2016-01-25 22:33] Schmavery commented on #160
Hey @nicolas-martin,
You'll probably have the most luck working through the makeLogin function in index.js (@bsansouci feel free to correct me) , which is where we log in.  If you have any specific questions about the code in there, feel free to ask.
You might want to double-check that your cookies are right if you 're having trouble imitating the browser.

[2016-01-25 22:33] #160 closed

[2016-01-25 22:43] bsansouci commented on #160
@Schmavery's right about cookies. My best guess is that you're not keeping track of all of them. We're using [saveCookies](https://github.com/Schmavery/facebook-chat-api/blob/d4ec3e8521370eb748e4369c70cbe3dd75507ee2/utils.js#L536) to save cookies on requests that return relevant ones. We also need to scrape the html to get the other ones, because FB uses JS to inject cookies. We do that [here](htt

[2016-01-26 10:12] palaa159 opened #163 "Hitting the error "ERR! ERROR in sendMessage --> errorSummary: 'Security Check Required'""
I made a chat bot that receives a POST request and send a message to the specified Facebook ID. After a while, Facebook has blocked it from sending with

ERR!
 ERROR in sendMessage -->  { __ar: 1,
ERR! ERROR in sendMessage -->    error: 1357007,
ERR! ERROR in sendMessage -->    errorSummary: 'Security Check Required',
ERR! ERROR in sendMessage -->    errorDescription: 'A security check is required

[2016-01-26 18:24] Schmavery commented on #163
Are you spamming messages?

[2016-01-26 19:57] mjkaufer opened #164 "Package Breaking, JS Object Error"
Error on line 194 of `utils.js`, https://github.com/Schmavery/facebook-chat-api/blob/master/utils.js#L194

I'll fix this

[2016-01-26 20:03] mjkaufer commented on #164
Also unrelated, I think message types are not working property, but that's not as bad.

[2016-01-26 20:09] mjkaufer commented on #164
Check out https://github.com/Schmavery/facebook-chat-api/pull/165

[2016-01-26 20:22] bsansouci commented on #164
I responded on the PR. Our package specifies that you need nodejs ≥ 4.x, which I _think_ is when they started supporting this. Please correct me if I'm wrong.

[2016-01-26 20:22] #164 closed

[2016-01-26 20:25] mjkaufer commented on #164
Sorry - I must have missed that

[2016-01-26 20:31] mjkaufer commented on #164
Yeah, I was running 0.12.2, which would explain the issue - everything works wonderfully now

[2016-01-26 20:31] bsansouci commented on #164
<3

[2016-01-27 14:02] txs commented on #158
so use it with 0,1,2,3 :P ?

2016-01-26 2:02 GMT+08:00 Benjamin San Souci <notifications@github.com>:

[2016-01-27 17:10] Schmavery commented on #158
I'd generally say that generating random numbers out of nowhere is probably not the way to solve this problem :D

[2016-01-27 17:14] Schmavery commented on #163
@bsansouci When we rewrite error handling, this is another candidate for one we could catch and rethrow.

[2016-01-27 18:39] Schmavery commented on #158
Though kidding aside, @txs, if you're able to demonstrate better performance hitting a different server, that would be a big motivator for us to look into it.

[2016-01-28 07:03] mehcode commented on #161
Going to wager a guess that the problems are actually the static usage of `seq` and `partition`:

https://github.com/Schmavery/facebook-chat-api/blob/master/src/listen.js#L24-L25

As those parameters smell to be used for something _important_. `*-edge-chat` is a static CNAME to `star.c10r.facebook.com` which is a DNS-based load / region balancer. The specific `*-edge-chat` you use has no bearing o

[2016-01-28 07:06] mehcode commented on #161
#156 looks like facebook chat was simply offline or that the local DNS resolution failed. As `getaddrinfo` failed to retrieve address information for the CNAME.

#158 could mean facebook was having issues. I don't see enough testing to justify a problem with the library (and not a blip in facebook's network).

---

Looking through those issues I'm thinking there isn't any real "problem" with just

[2016-01-28 07:41] Schmavery commented on #161
Thanks for your investigation @mehcode
We haven't taken the time to investigate partition (afaik @bsansouci) because it's always been -2 when we've seen it.
Maybe switching to another *-edge-chat when a call fails?  Not sure, but it would be nice to be able to handle #156.  If we can find out how the client figures out the range of numbers to choose from, that would be cool.

[2016-01-28 21:35] mehcode commented on #161
[code]

`max_conn` is from the reconnect call which is consistently `6` over here.

That number (from 0 to 6) is then stored in local storage along with a timestamp to make sure you stay on that channel for at least `100 * 1000` milliseconds if you refresh. I didn't leave the inspector open long enough (I did for a couple hours) to see if it switched on its own.

[2016-01-28 22:26] Schmavery commented on #161
Sorry, just to clarify, are you getting this code from the client or intuiting it from your observations of the packets?  I don't really see how `Math.floor(Math.random() * MAX_CONNECTIONS) % 7` is different from `Math.floor(Math.random() * 7)` other than maybe a slight difference in distribution.  Then again, there's some pretty weird code in the fb client.

[2016-01-28 22:47] mehcode commented on #161
I'm getting the code from the client. It is a bit weird. `Ctrl-Shift-F` in chrome and search for ".allocate" -- you'll find the spot where it asks for the number. I then stepped in there and poked around.

[2016-01-29 01:51] Zeinox opened #166 "TypeError: api.getUserID is not a function"
Hello,
I am very new to Java Script and am trying to set up the Kassy bot for a Facebook group chat.  All the default modules work for the most part but I am currently working on a vote kick module and though I have figured out how to hardcode a set time and answer options, I am struggling to obtain the user's id in order to kick them.  I am receiving the error "TypeError: api.getUserID is not a f

[2016-01-29 02:15] Schmavery commented on #166
Hey @Zeinox .  Congrats on becoming javascript programmer ;)
In Kassy, it looks like they don't actually let you directly use our api.  Your api object will only have the functions defined [here](https://github.com/mrkno/Kassy/blob/575fd77bce55e6910d015b7918f732cf18e1dfc1/doc/ModuleCreation.md#api).  Good luck!

[2016-01-29 02:15] #166 closed

[2016-01-29 14:59] palaa159 commented on #163
well I did not repeatedly send out messages. It was intended to be a notification channel for users. How can I get away with this problem? I logged in from a browser and there's no security check to proceed; it seems fine on the browser but not with the API.

Please help. Thanks.

[2016-01-29 18:22] Schmavery commented on #163
Can you provide a minimal working example of this problem?

[2016-01-29 18:25] mjkaufer opened #167 "threadIDs from getThreadList not unique"
Hi,

I'm using `api.getThreadList` to get the `threadID`s of the chats I've been having. For group chats, the `threadID`s are distinct. However, all of my single-person chats have the same `threadID`, which should not be the case. You can see the results for yourself with the code below. I've also uploaded a screenshot of what I see when I run the code. I'm using node version 4.2.4 and facebook-ch

[2016-01-29 18:35] mjkaufer commented on #167
Sorry - I think this actually might be a closure problem on my end.

[2016-01-29 18:35] #167 closed

[2016-01-29 18:35] bsansouci commented on #167
Hey I think this is just a JS understanding issue. You're calling `findNames` inside a loop, passing a callback to it, and using (inside the callback) `thread` which is assigned inside the loop. Callbacks in JS don't run immediately, so `thread` will actually be assigned to the _last_ value from your loop. Basically the loop executes entirely, and registers all of the callback, then they get calle

[2016-01-30 15:19] txs commented on #158
IDK  if it will  be better. Maybe it will be a cool experiment
On Jan 28, 2016 3:40 AM, "Avery Morin" <notifications@github.com> wrote:

[2016-01-31 03:17] #89 closed

[2016-01-31 03:17] #101 closed

[2016-01-31 03:36] Schmavery commented on #144
Having trouble reproducing this, sorry, please let us know if you run into more problems.

[2016-01-31 03:36] #144 closed

[2016-01-31 05:42] bsansouci commented on #158
Thanks for your input. We'll track this issue under #161.

[2016-01-31 05:42] #158 closed

[2016-01-31 05:55] bsansouci commented on #152
We're unable to reproduce this issue :/
<img width="594" alt="screen shot 2016-01-30 at 21 48 35" src="https://cloud.githubusercontent.com/assets/4534692/12700517/72dff982-c79b-11e5-8414-0d18db5e3465.png">
If you really want us to look into this, you can make an account and send the credentials to benjamin.sansouci@gmail.com.

[2016-01-31 06:36] bsansouci commented on #145
Just pushed a change that should prevent it from crashing. We can't seem to reproduce this issue on our side.  Can you call `api.setOptions({logLevel:verbose})` and then `api.getThreadList(...)` and copy paste the output here?

[2016-01-31 06:40] #143 closed

[2016-01-31 10:46] jobbogamer commented on #152
Don't worry about it, I've worked around the issue on my end (by using different images…). Thanks for looking into it :+1:

[2016-01-31 10:47] bearbear12345 opened #168 "Error on group chat message after awhile"
[code]

Hi.
After a period of time, group chat messages (Not sure if it affects all the groups, but it's affecting an important thread) raise the above error on reception.

The script is running on commit 443aaac49aca426a4031affeb14d481cedc6af47 (pretty sure) - I'm not sure if any of the recent commits have fixed this

[2016-01-31 19:10] Schmavery commented on #152
Thanks for letting us know :)

[2016-01-31 19:10] #152 closed

[2016-01-31 19:14] Schmavery commented on #168
Can you please update and try again? And include a minimal working example of this issue.  Thanks!

[2016-01-31 23:30] Schmavery commented on #168
@bsansouci pretty hard to get anything out of this stack trace.  I guess it's possible we're not catching an exception somewhere.  I guess in `listen` given the context of when it happens.  @bearbear12345 am I correct in understanding that this happens when the api receives a message?

[2016-02-01 05:21] tomexsans opened #169 "getFriendsList and getOnlineUsers returns the same list."
while testing getOnlineUsers and getFriendsList i noticed that the **getOnlineUsers **return the same lists. Could you confirm because my test shows the same list.

[2016-02-01 05:28] Schmavery commented on #169
Generally these should return the same users but with different information about them.  `getOnlineUsers` gives information about the current status of the user (you might want to check the `status` field).  The `getFriendsList` function returns general information about the user account.

[2016-02-01 05:28] #169 closed

[2016-02-01 11:40] bearbear12345 commented on #168
@Schmavery I can't see how any part of my code would create this issue, so too am assuming that the error happens when the message is received.

[2016-02-01 16:45] evandrix opened #170 "Is it possible to login via a cookie, i.e. `c_user` and `xs` values only, rather than having to login everytime and produce notifications?"

[2016-02-01 17:42] Schmavery commented on #170
Please see api.getAppState in DOCS.md
Sorry this should have been linked from the readme as well.

[2016-02-01 18:55] #170 closed

[2016-02-05 11:36] pablitobocchio opened #172 "Send Location"
Hi!, I need help ... how can I send my location whit facebook-chat-api? Is it possible?

Thank you very much

[2016-02-05 17:45] Schmavery commented on #172
Unfortunately we do not currently support this.  It may be impossible using our current approach but it's hard to say.

[2016-02-06 08:31] bearbear12345 commented on #168
update: right now still no error, but i'll leave this issue open for ahwile longer

[2016-02-07 06:11] guosheng-lin commented on #163
I am also troubled with the same error . Especially if you write a URL to msg.body. Is it like a link to other sites will not be able to send been recognized as spam ?

[2016-02-09 05:04] mrkno opened #173 "Crash upon receiving the thumbs up sticker on Facebook"
Origionally reported here: https://github.com/mrkno/Kassy/issues/78 by @ParasDPain
API Version: 1.0.2

I cannot reproduce on 1.0.2 or newer so I've asked that they test with a newer version of the API to see if the problem still exists.

**Origional Issue:**
The sticker in question is the mouse clicked/finger tapped thumbs up. It is not available in the sticker store but provided under messenger's

[2016-02-09 09:15] mrkno commented on #173
It appears their issue was fixed by using a newer version of your API. Sorry for the noise :)

[2016-02-09 09:15] #173 closed

[2016-02-09 09:15] bsansouci commented on #173
No problem! Glad we fixed it :)

[2016-02-12 01:30] andrecordeiro opened #174 "Control event.body by event.userID -- PLEASE"
Good night folks,

I am creating a chat in which there is a menu and submenu. I need to control which menu option ( event.body ) , each chat user is . For example , the user 1 ( event.userID == 1 ) selects the menu ( event.body == ' A') and choose option 1 ( event.body == ' 1' ) . User 2 ( event.userID == 2 ) selects the menu B ( event.body == ' B' ) and choose option 3 ( event.body == ' 3' ) . I

[2016-02-12 01:49] Schmavery commented on #174
I'm sorry, I'm having trouble understanding what you're trying to do and how our API could help.  I can't imagine a situation where you'd want to mutate `event`...

[2016-02-12 01:53] andrecordeiro commented on #174
It would be a menu for a pizzeria. Where the user selects the taste of pizza , how to pay the shipping address and so on. I need to control what each user is doing on the chat.

[2016-02-12 02:01] Schmavery commented on #174
Our API focuses on sending and receiving messages.  You will have to program logic on your end to handle any menu operations you want.  If each user has to have data stored separately for them, it doesn't make sense to put this into a global variable.  Instead, you could potentially use a map as I've described above.  Without seeing the implementation, it's hard to say what will fix your problem.

[2016-02-12 02:01] #174 closed

[2016-02-12 02:33] andrecordeiro commented on #174
You got to see the picture and the video that I put ? It would be exactly what I need . I tried to implement something As Picture I'm attaching now, but I can NOT . I need to know what the User typed and what SenderId this person. Some object exists in the API that I can create a property to store this information and I can capture in case "message" :?

Sorry, but I did not understand when you sai

[2016-02-12 02:38] andrecordeiro commented on #174
Just like you said : "Like a javascript object {userID1: option1, userID2: option2}"

[2016-02-12 04:11] andrecordeiro opened #175 "Control event.body by event.userID"
Hello, I did what was suggested in the ticket #174 by @Schmavery. I created a javascript object {UserID1: option1, UserID2: option2} that stores user information and options. In each option entered at the menu, I call a function that does a filter on that object by the user ID, and returns in which the user's menu. So far so good. If only one user in the chat, works perfectly. Now, if you have mor

[2016-02-12 05:52] #175 closed

[2016-02-13 02:10] bearbear12345 commented on #168
Okay, I assume that the new version(s) have somehow solved this issue

Closing

[2016-02-13 02:10] #168 closed

[2016-02-13 02:38] andrecordeiro opened #176 "Get Location"
is there any way to capture the location of the person in the chat?

[2016-02-13 02:49] Schmavery commented on #176
https://github.com/Schmavery/facebook-chat-api/blob/master/DOCS.md#listen
If the location is available, it will be in the message.  It is not always available.

[2016-02-13 02:49] Schmavery commented on #168
Thanks for following up

[2016-02-13 02:52] andrecordeiro commented on #176
and Is There Any Another way I can capture a location without using a Location facebook ? For example , Making a Call a service que Some web back to something Location OR do Gender.

[2016-02-13 03:08] andrecordeiro commented on #176
when I click to send my location, this string is sent to the server : https://fbexternal-a.akamaihd.net/static_map.php?v=17&size=545x280&zoom=15&markers=-25.367732%2C-49.220971&language=en%27, which contains the latitude and longitude . How do I read this URL in the application and extract the markers ?

[2016-02-13 20:13] wklm commented on #145
is it ok, that this method (getThreadList) returns imageSrc=null? In browser I can see them

[2016-02-14 10:05] wklm commented on #145
+ getThreadList returns
"participants":["1553954290","100004344516230"],
"participantIDs":["1553954290","100004344516230"],

so one of them is redundant. Can I fix it in repo?

[2016-02-15 01:19] Schmavery commented on #145
@wklm as you can see in the docs, participants has been changed to participantIDs (for consistency) and participants has been maintained for now so as not to break backward compatibility.

[2016-02-15 01:20] Schmavery commented on #176
I'm sorry, you'll have to figure this out another way.  Currently we don't know of any other way to get the location using our api.

[2016-02-15 01:20] #176 closed

[2016-02-16 20:45] roman30098 opened #177 "Problem with login, cookies not enabled"
Hi, i've problem with login into my test fb account.
Node v4.3.0
npm v2.14

I using example code:
[code]
But it always throw error "Wrong username/password".
I tried with 2 fb accounts on windows7 and ubuntu14.
"Kassy" don't work too.
Can somebody try to login with my login/psswd?

[2016-02-16 21:15] Schmavery commented on #177
Your email/pass works for me using the API.  Which version of the API are you on?  Does it work when you log in in the browser?
Is anyone else encountering this problem?

[2016-02-16 21:25] roman30098 commented on #177
I can log in in browser, but can't with fb-chat-api.
If my login data work for you, i guess it may be problem with nodejs.
I've added firewall exception for node, npm works, so internet connection is ok.
You execute test code locally on computer or on web server?

[2016-02-16 22:25] Schmavery commented on #177
I just tested specifically with your data and version 1.0.6 locally on my computer, and it worked for me.  Curious to know what is causing this problem.

Can you add
[code]
right after [line 150 of index.js](https://github.com/Schmavery/facebook-chat-api/blob/master/index.js#L151)?

[2016-02-17 00:19] roman30098 commented on #177
Facebook says

Full log.txt:
[log.txt](https://github.com/Schmavery/facebook-chat-api/files/133466/log.txt)

Log from Ubuntu is almost the same.

[2016-02-20 12:54] ErmanSayin opened #178 "getUserInfo returning 404 to listen() in a chat with >4 people"
Hello, I get a 404 error on the console whenever there's a message sent to a group chat.
It still happens when there's nothing on the login callback function.
Same problem on the last stable version, and git version.

Here's the result of adding console.log(data) on utils:505:
http://pastebin.com/raw/3n9b4Bbp

[2016-02-20 22:27] bsansouci commented on #178
Hey @ErmanSayin, I just tried on my side and sending a message works. Could you login, do something like `fs.writeFileSync("someAppState.json", JSON.stringify(api.getAppState()), 'utf8');` and send me the file at `benjamin.sansouci@gmail.com`. I should be able to login using that cookie on that account and test it out. If you feel like revoking access you can simply login and then call `api.logout

[2016-02-20 22:32] ErmanSayin commented on #178
@bsansouci Oh sorry, I meant when someone else in a group chat sends a message. It works fine on single-user conversation.

[2016-02-20 22:36] bsansouci commented on #178
Ah well that doesn't change much haha. In either case the problem seems to be in getUserInfo (whether it's called from listen or from sendMessage).

[2016-02-21 04:12] ErmanSayin commented on #178
I kinda got around the issue by hardcoding the group ID in the code so `listen` doesn't use `getUserInfo` when there's a message

[2016-02-21 04:15] bsansouci commented on #178
The cookies stopped working for me. I think they get invalidated as soon as you re-login with the same account. If you want me to explore a little more on my side you can send me the actual credentials so I can login and try things. I find this issue very weird because I don't understand how an endpoint like `/chat/user_info` can return `404` for you and not for me.

[2016-02-24 14:36] darrenhebner commented on #163
I hit the same problem. The app worked fine for about an hour. I did end up sending about 80 messages to one user (a test account I created) before Facebook blocked me. Any idea how to get around this? Thanks again for the awesome API!

`ERR! ERROR in sendMessage -->  { __ar: 1,
ERR! ERROR in sendMessage -->    error: 1357007,
ERR! ERROR in sendMessage -->    errorSummary: 'Security Check Required

[2016-02-24 19:15] nellenoff opened #179 "Time format"
Currently working with the getThreadList to return the timestamp of specific threads. Anyone know the format of the time stamp to convert it to MM/DD/YY HH:MM:SS?

[2016-02-24 19:15] Schmavery commented on #163
The only solution I can imagine to this is to try to log out and then log back in.  Does that help?  Getting around spam-blocking mechanisms isn't really the purpose of this API.

[2016-02-24 19:19] bsansouci commented on #163
I agree with @Schmavery, getting around spam-blocking mechanisms is a whole other can of tuna that we don't want to open. If it's for testing purposes try having multiple accounts and add a delay between messages. It sucks because it'll take forever but it's better than nothing.

[2016-02-24 20:58] #172 closed

[2016-02-24 21:09] Schmavery commented on #179
The time stamp should be the unix epoch time measured in milliseconds.  If you do `new Date(timestamp)`, it should give you an object that can be manipulated to give you what you're looking for.

[2016-02-24 21:11] #179 closed

[2016-02-24 21:13] Schmavery commented on #163
I'm going to close this for now as it doesn't seem there is much we can do.

[2016-02-24 21:13] #163 closed

[2016-02-24 21:17] Schmavery commented on #133
We've done some fairly extensive looking into fixing this with no promising results yet, unfortunately.

[2016-02-24 21:28] Schmavery commented on #145
It seems to me that imageSrc will always be null unless a custom image is used for the conversation, in which case it will contain the url to the image.

[2016-02-24 21:28] #145 closed

[2016-02-25 01:35] nellenoff commented on #179
Thanks a ton, very helpful

[2016-02-25 05:00] pilosof opened #180 "login crash @ utils.js"
keeps crashing:

`/Users/pilo/Desktop/playgoround/fbmessgener/node_modules/facebook-chat-api/utils.js:194
      ["p_" + userID]: 0
      ^
SyntaxError: Unexpected token [
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Module.require (module.js:364:17)

[2016-02-25 06:39] christianmarth commented on #139
There needs to be a way to get this to work with 2FA... I'll have a look and see if I can find any clues

[2016-02-25 18:24] bsansouci commented on #180
You need to update nodejs. They recently added support for object literals with keys as variable.

[2016-02-25 18:24] #180 closed

[2016-02-26 13:27] swifteg opened #181 "Error in getThreadList"
It was working perfectly and then all of a sudden it broke down with the following errors.

`ERR! Error in getThreadList TypeError: Cannot read property 'replace' of null
ERR! Error in getThreadList     at formatThread (E:\svoya_igra_js\node_modules\facebook-chat-api\utils.js:575:39)
ERR! Error in getThreadList     at Array.map (native)
ERR! Error in getThreadList     at E:\svoya_igra_js\node_modu

[2016-02-26 14:30] swifteg commented on #181
Ok, the problem occurs if you have a thread where someone gets added to the chat and the last message is
`_someone_ added _someone_.`

After adding a new message to the thread, the problem disappeared.

[2016-02-26 14:32] jobbogamer commented on #181
I'm having this same issue, but there are no conversations where the last message matches what was mentioned above.

[2016-02-26 17:22] swifteg commented on #181
Same happened after someone had left the chat (before there were any new messages).

[2016-02-26 18:26] Schmavery commented on #181
I believe this is due to snippetSender being null in this case.
This should be a resolved issue in master, we just need to push a new version to npm.  If you could update to the master branch and verify it solves your issue, that would be great.

[2016-02-26 19:01] asdfasdfvful opened #182 "ParseAndCheckLogin error when there are more than four people in a conversation"
Everything was working well until about a week ago. Now, whenever there are more than four people in the conversation, I am getting this error:

`ERR! Error in getUserInfo Error: parseAndCheckLogin got status code: 404. Bailing out of trying to parse response.
ERR! Error in getUserInfo     at C:\Users\user1\PA\AB\node_modules\facebook-chat-api\utils.js:505:42
ERR! Error in getUserInfo     at tryCa

[2016-02-26 19:10] bsansouci commented on #182
This seems like the same issue as #178. Making a request to `/chat/user_info` returns an error. Could you do what I said [here](https://github.com/Schmavery/facebook-chat-api/issues/178#issuecomment-186692896) and upload the file as @ErmanSayin did?

[2016-02-26 19:15] asdfasdfvful commented on #182
@bsansouci

Here. Hopefully I did it correctly

`[{"key":"datr","value":"F6TQVlYGB8GlbkgVbAoP661P","domain":"facebook.com","path":"/","hostOnly":false,"creation":"2016-02-26T19:14:29.258Z","lastAccessed":"2016-02-26T19:14:33.533Z"},{"key":"c_user","value":"100011157690930","expires":"2016-05-26T19:14:31.000Z","maxAge":7776000,"domain":"facebook.com","path":"/","secure":true,"hostOnly":false,"creat

[2016-02-26 19:17] ErmanSayin commented on #182
@asdfasdfvful You're not meant to send your cookies publicly

[2016-02-26 19:19] asdfasdfvful commented on #182
I'll remove it for now. But I still have the file if anyone needs to check it. Unfortunately I've just started with javascript and coding in general so I'm not sure what it means.

[2016-02-26 19:20] bsansouci commented on #182
Those cookies allow anyone to login as that person ;)
Can you send them by email to `benjamin.sansouci@gmail.com`?

[2016-02-26 20:26] Schmavery commented on #182
I'm going to close this as a duplicate and refer you to #178 for updates.

[2016-02-26 20:26] #182 closed

[2016-02-26 20:51] Schmavery commented on #178
After doing some looking into this issue, it looks like the culprit is the hack to retrieve the list of participants from the html of the page [here](https://github.com/Schmavery/facebook-chat-api/blob/master/src/listen.js#L164-L201).

I would recommend making a change to make a call to the `thread_info.php` (the same endpoint as called by getThreadHistory).  This seems to return the full list of

[2016-02-28 02:09] Schmavery commented on #178
@ErmanSayin @asdfasdfvful can someone sync to master and verify that this commit fixes the issue?

[2016-02-28 07:53] asdfasdfvful commented on #178
@Schmavery all I need to do is npm install facebook-chat-api again correct? I did that and I'm still getting the same error

[2016-02-28 07:58] asdfasdfvful commented on #178
I deleted the node_module files and reinstalled it just to make sure. Here is the log in case something changed

http://pastebin.com/Pi3bd5yB

[2016-02-28 10:16] ErmanSayin commented on #178
@Schmavery listen works for me, although `sendMessage` is broken, no errors

[2016-02-28 10:18] ErmanSayin commented on #178
@asdfasdfvful remove `facebook-chat-api` from `node_modules`, then do `git clone https://github.com/Schmavery/facebook-chat-api.git`, then do `npm update` inside the new `facebook-chat-api` folder

[2016-02-28 10:49] #178 closed

[2016-02-28 13:35] ErmanSayin commented on #132
This wouldn't work because Facebook has CSRF protection

[2016-02-28 20:33] asdfasdfvful commented on #178
Thanks a lot to all of you! It's fixed

[2016-02-29 23:09] Schmavery commented on #178
Thanks for the confirmation guys.  I'll push to npm tonight.

[2016-03-01 08:22] Schmavery commented on #181
This fix should now be in 1.0.7

[2016-03-01 08:22] #181 closed

[2016-03-01 18:56] Schmavery opened #184 "Behaviour of sendMessage"
There's some discussion that has arisen as to what the behaviour of `sendMessage` should be (see #83, #183).  The function currently works by passing an object with certain properties set on it ('attachment', 'url', 'sticker'...).  This object is then fed through a chain of else-ifs which check these properties in a secret order ('attachment' > 'url' > 'sticker'...).  For reference, [this is rough

[2016-03-01 18:56] Schmavery commented on #83
This issue will be tracked by #184.

[2016-03-01 18:56] #83 closed

[2016-03-01 19:00] bsansouci commented on #184
I like the idea of allowing some unknown usecases by default, but I'm scared that we'll have to prevent a lot of edge cases. Also how would we describe the edge cases of `cannot support the combination of two properties` other than a bunch of `if`s?

[2016-03-01 19:14] Schmavery commented on #184
I'm mostly hoping that there wouldn't be too many of those cases, I guess.  If the need arose, we could technically write some logic that would allow us to define an array of unsupported combinations or properties...
[code]

[2016-03-01 22:42] nmggithub commented on #180
I have the latest version of node and am still receiving this error.

[2016-03-02 07:07] bsansouci commented on #132
I think @ErmanSayin is right, this would result in CSRF errors... I'm not sure how to bypass that in a sane/safe way. I'm closing this issue because of it. Feel free to reopen if something comes up!

[2016-03-02 07:07] #132 closed

[2016-03-02 07:49] HowardLoTW opened #185 "Can api listen my own message ?"
Hello,

When I reply to others, I would like to log my reply message
Is it possible to make this work ?
Since the api can listen others message, the behaviors are the same, right ?

Thanks.

[2016-03-02 07:51] bsansouci commented on #185
Hey! Yes you can, take a loot at `selfListen` inside [setOptions](https://github.com/Schmavery/facebook-chat-api/blob/master/DOCS.md#apisetoptionsoptions). Just do `api.setOptions({selfListen: true})`.

[2016-03-02 07:51] #185 closed

[2016-03-02 07:55] HowardLoTW commented on #185
You save my life !!!
Thanks a lot :+1:

[2016-03-02 07:56] Schmavery commented on #156
I think the best shot at fixing this issue will be implementing #161, so we'll close this bug for now.

[2016-03-02 07:56] #156 closed

[2016-03-02 08:37] kristianespina opened #186 "Bluebird 3"
Hello,

There is a conflict at the bluebird module..
running `npm install` results to:
`npm WARN unmet dependency requires bluebird@'^2.9.27' but will load`
`npm WARN unmet dependency which is version 3.3.3`

[2016-03-02 08:38] bsansouci commented on #186
Do you have another version of bluebird installed globally?

[2016-03-02 08:45] kristianespina commented on #186
Thank you for your reply,

Do you mean `npm install bluebird --global`... I don't have, however
I think I've updated my bluebird version when I ran 'npm install --save bluebird' :/

Maybe I should downgrade the bluebird to v^2 because I've been getting errors like this recently XD
`ERR! Error in login: TypeError: Cannot read property 'headers' of undefined
ERR! Error in login:     at C:\Users\Skye

[2016-03-02 08:50] bsansouci commented on #186
Mmmh can you paste your full stack trace? And your code that reproduces this? This doesn't seem linked to bluebird itself.

[2016-03-02 08:57] kristianespina commented on #186
I'm sorry the late reply, here is it
http://pastebin.com/zTw9eQpc

[2016-03-02 08:58] #184 closed

[2016-03-02 08:59] bsansouci commented on #186
Can you remove your node_modules and just run `npm i`? Also, can you paste the code you're running?

[2016-03-02 09:03] kristianespina commented on #186
I think I found where I went wrong XD ahahaha
There's no node_modules folder on my facebook-chat-api...
For some reason I think all of my dependencies went on 1 folder
I have this
`node_modules/facebook-chat-api
node_modules/bluebird`
Instead of this
`node_modules/facebook-chat-api/node-modules/bluebird`

Thank you for your help...
I dont know what I did to result to that hahaa..

[2016-03-02 09:05] bsansouci commented on #186
If you're using npm, you shouldn't have to install bluebird separately. You should be able to remove _your_ node_modules and run `npm i facebook-chat-api` and that'll install everything that's required (no need to update anything).

[2016-03-02 09:05] #186 closed

[2016-03-02 09:34] Schmavery commented on #177
Is this still a problem?  I'm not sure what could be causing this, maybe an issue with the `request` module?  You could try deleting your node_module folder and reinstalling...
Otherwise Facebook could be rolling out a new cookie that we don't handle.  In that case, it would be useful for you to email us credentials to a test account where this issue can be reproduced consistently.  If you want to

[2016-03-02 11:53] trgwii opened #187 "message.threadID null in groups"
Title really says it all, if I receive a message from a group, the threadID-property is null.

Edit: It seems that this only happens if a non-friend of the api user has created the group, and the bot is added to the group later.

Using facebook-chat-api version 1.0.7

[2016-03-02 13:47] lulzsecd opened #188 "I use 2 step verification, how to do facebook-chat-api with my Facebook account?"

[2016-03-02 14:07] lulzsecd commented on #188
I tried to use Facebook App PasWords but still can't login

[2016-03-02 16:56] Schmavery commented on #188
See #139

[2016-03-02 16:56] #188 closed

[2016-03-02 17:26] bsansouci commented on #187
Hey @trgwii, thanks for reporting this! Can you add `console.log(m)` __after__ [this line](https://github.com/Schmavery/facebook-chat-api/blob/e1550e793fb7e5678cacc341504fb445758d82ae/utils.js#L346) and paste here just the result of that when you receive a message from that chat?

[2016-03-03 07:55] HowardLoTW commented on #185
Hi ! Is it possible to listen what time do I read others' messages ?
Thanks.

[2016-03-03 07:58] Schmavery commented on #185
Set `listenEvents` to true and check for the `read_receipt` event.

[2016-03-03 08:04] HowardLoTW commented on #185
Yes. I have set both of listenEvents and selfListen to true. It's ok to listen other people's read_receipt, but it's not ok when I read other people's message. It could not listen my own read_receipt.

[2016-03-03 09:13] HowardLoTW opened #189 "Add a new feature: listen when do I read the others' message"
Hello,

 I found that the api can listen when the other people read my message through ```api.listen(callback)``` where event type is ```read_receipt ```, but it could not listen when do I read the other's people.

So, I just do some hacks and add this new feature to the node modules in my own project.
now when I read someone's message, it will also trigger ```api.listen(callback)``` where event t

[2016-03-03 09:35] Schmavery commented on #189
Sure, it will be easier to understand what you mean with a pull request.

[2016-03-03 09:38] bsansouci commented on #185
Why do you need to know when you read your own messages?

[2016-03-03 09:44] HowardLoTW commented on #185
Currently I am developing a messaging mobile app based on facebook-chat-api.
This app could give you a push notification which indicates someone's emotion (e.g: happy, angry, sad ... ) when someone sends a message to you.
The reason that I develop this app is for researching some HCI issues, so I would like to log the users read time and response time to see how this functionality influence users

[2016-03-03 09:51] HowardLoTW commented on #185
I think you have some misunderstanding.
I want to know when do I read "other person's" messages.

[2016-03-03 10:24] HowardLoTW commented on #185
Hi , I have another question.
Is it possible to login by facebook login api (e.g. user just simpily clicks facebook login button) without giving email and password to access the facebook-chat-api functionality ?

Thanks

[2016-03-03 17:14] Schmavery commented on #185
No

[2016-03-03 17:25] bsansouci commented on #185
You know when you read other people's messages based on how the user interacts with the UI if I'm understanding correctly. You're in control of how the user sees the message. I don't see why this has to do with this api.

As @Schmavery said, this is a hard limitation enforced by FB. We can't bypass it.

[2016-03-04 13:12] trgwii commented on #187
Here you go:

`{ message:
   { subject: null,
     body: '.',
     timestamp: 1457097085480,
     mid: 'mid.1457097085471:60eb110a1b05b30d60',
     tid: 'id.826121630799731',
     sender_fbid: 1640610814,
     offline_threading_id: '6111508134193875719',
     sender: '1640610814@facebook.com',
     sender_name: 'Thomas Rory Gummerson',
     tags: 'source:messenger:web,cg-enabled,inbox',
     sourc

[2016-03-04 19:15] Schmavery commented on #187
https://github.com/Schmavery/facebook-chat-api/blob/b1c364cc2b3c80a03c8329b1345ae346a82aa148/utils.js#L355

Here is the relevant line, looks like they've changed the format of the `tid` field to start with 'mid' instead of 'id'.  Should be fairly simple to fix, just change the line to the following to remove the dependency on the prefix.  Can you make this change locally and check if it fixes it?

[2016-03-05 00:29] Schmavery commented on #124
@helloworld @qcmaude @webfreak7 Looks like it's finally time...

![image](https://cloud.githubusercontent.com/assets/2154522/13544050/22f78228-e226-11e5-9555-4cd6c56e3c0a.png)

[2016-03-05 02:28] mjmohammet opened #191 "Question: How do you get the end points?"
Hello all,

Thank you for your efforts in this interesting project.

I would like to ask how do you get the URL endpoints? I tried to track the requests using chrome network inspector and couldn't find the ones mentioned in the your API.

I would like to help but I need a starting point. The code is very clear and organised by the way.

Thanks.

[2016-03-05 02:59] Schmavery commented on #191
Which ones can't you find?

[2016-03-05 03:26] mjmohammet commented on #191
1. Accept message requests for non-friends.
2. Extend the functionality of this API to include: Get user's public information

[2016-03-05 03:47] Schmavery commented on #191
I'm sorry, I meant which endpoints that we mention in the api?  We don't explicitly support accepting message requests for non-friends right now, though I suppose that is something that should be added at some point.  "Getting public information" we already do to some degree.

[2016-03-05 07:00] mjmohammet commented on #191
Well, I mean the followings by end points:
https://www.facebook.com/ajax/mercury/send_messages.php
https://www.facebook.com/ajax/mercury/search_threads.php
https://www.facebook.com/chat/user_info/
..
..
sorry what should they be called?

I'm aware of the functions for getting public information but I mean extending the information to include the location, languages spoken, colleges attended, and e

[2016-03-05 09:58] Schmavery commented on #191
That is what I had understood when you said endpoints, but I don't understand why you can't see them in chrome.  This is what I see when I send a message.

![image](https://cloud.githubusercontent.com/assets/2154522/13547034/8c3419b4-e275-11e5-86dc-f5fd3d997801.png)

This is a chat api, so getting user information is for the most part outside our scope.  As far as I know, almost all that informati

[2016-03-05 11:47] seanballais commented on #177
Hi @Schmavery, yes. I'm receiving the same error. I reinstalled my `node_module` a lot already and still no luck.

[2016-03-05 12:06] roman30098 commented on #177
Still same problem. Tried on 2 OS and 2 fb accounts.
I reinstalled node and npm, then downloaded fb-api again.
I followed node install instruction, so I guess it's not node problem.
Is there in node thing like "cookie on/off switch"?

[2016-03-05 13:32] mjmohammet commented on #191
Sorry for the obvious question...

Thanks to your well-organised API I was able to add a function called: acceptMessageRequest and declineMessageRequest.

Is it okay to make a pull request?

Thank you.

[2016-03-05 22:21] Schmavery commented on #191
Definitely, please make a pull request and then we can give feedback/merge it :)

[2016-03-05 22:23] Schmavery commented on #177
As I said above, we can't reproduce this issue so if you want us to investigate further, someone will need to send the credentials of an account that has problems to the above address.  Thanks :)

[2016-03-06 05:10] Schmavery commented on #187
@trgwii Can you sync to master and try this fix?

[2016-03-06 05:17] Schmavery commented on #177
Hey Roman, thanks for sending the username/pass, but as I said in the issue, the above credentials work for me and @bsansouci when we try them.  Not sure what we can do.

[2016-03-06 05:21] Schmavery commented on #189
I'm going to close this issue and we can track it using the pull request. Thanks.

[2016-03-06 05:21] #189 closed

[2016-03-06 05:26] Schmavery commented on #191
Going to close this and wait for your PR.  Reopen if you need anything else.

[2016-03-06 05:26] #191 closed

[2016-03-06 05:29] bsansouci commented on #177
Hey @roman30098 can you log out of this specific FB account in chrome. When on the login page, open the console go to the network tab, click the record button on the far left (just looks like a grey circle), click on "preserve log" to the right on that same toolbar. Now enter your credentials and hit enter to login. You should see a whole bunch of network stuff happening. Scroll all the way to the

[2016-03-06 15:02] roymap commented on #191
Can't wait for this pull request!

[2016-03-06 20:21] asdfasdfvful commented on #139
Are any of you experiencing this issue due to server locations? Ie when Heroku runs the bot in a different location. Is that fixable in some way?

[2016-03-06 20:37] Schmavery commented on #139
That sounds like an unrelated issue @asdfasdfvful

[2016-03-06 21:30] asdfasdfvful commented on #139
@Schmavery is it worth creating a new issue for this or is this likely something on Facebook's side that won't be fixable?

[2016-03-07 00:46] Schmavery commented on #139
We've struggled with this issue in the past on our own bots and it's likely there's not much we'll be able to do.

[2016-03-08 08:59] radekludacka opened #194 "Invisible status"
Hello,
I have just a comment to documentation. **api.listen(callback)** event type "presence" returns not only "active", "idle", "offline" states, but also "invisible" state. May I ask you, is there any documentation what e.g. otherstatus or fbappstatus, etc. means or what influence it's "behavior".
Thanks.

[2016-03-08 09:08] #194 closed

[2016-03-08 09:09] Schmavery commented on #194
Sorry, we're basically just exposing to you what facebook exposes to us so we don't really know what those values mean.  If you figure it out, let us know and we'll add it to the docs!

[2016-03-08 19:20] Schmavery commented on #124
We did some preliminary work on this last night.  Because the endpoints for these functions only seem to be available from messenger.com, it seems that we will have to add support for making requests to messenger.com as well as facebook.  This seems like the option that will give the most flexibility long-term so it is probably worth it.  For now, making duplicates of all facebook cookies has gott

[2016-03-09 08:36] Schmavery commented on #124
Just so people know, we've given the api the ability to make calls to messenger.com now in order to enable changing the color/emoji.  Feel free to keep your eyes out for interesting endpoints only available on messenger.com

[2016-03-10 22:21] Mobilpadde opened #195 "Getting an error when trying to login"
I'm getting this error:

`
/home/node/node_modules/facebook-chat-api/utils.js:194
      ["p_" + userID]: 0
      ^
SyntaxError: Unexpected token [
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Module.require (module.js:364:17)
    at require (module.js:38

[2016-03-10 22:22] Schmavery commented on #195
Please check out the FAQs in the README and update node as recommended.

[2016-03-10 22:22] #195 closed

[2016-03-10 22:24] Mobilpadde commented on #195
Oh, I'm sorry, completely overlooked that part...sorry!

[2016-03-10 22:26] Schmavery commented on #195
No problem.  Btw, you can format code by surrounding it with a triple backticks [like this](https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code).  If you write 'js' after the first triple backtick, it will syntax highlight it with the assumption that it's javascript code.

[2016-03-10 22:37] Mobilpadde commented on #195
Oh, thanks! :D

[2016-03-12 00:04] Schmavery commented on #159
Ping.. Is anyone still getting this error?

[2016-03-12 15:19] GAMELASTER commented on #187
Well, i think the thread_info no more send a thread informations, so only way to get participiants is to fetch it when thread_sync or unread_threads is executed. Then maybe in "roger" informations is a users information, but... hmm. When I rewriting this to .NET library (unfinished), I cached all informations (so i not must everytime to execute thread_info for info about people etc..), and similia

[2016-03-12 18:26] Schmavery commented on #187
I don't understand, this change has nothing to do with participants...

[2016-03-13 06:23] Schmavery opened #197 "message.senderName null in response from listen"
Not sure what the cleanest way to fix this is.  We're already doing more requests than I'd like in listen.  The best option may be to deprecate this property.

[2016-03-13 09:17] GAMELASTER opened #198 "getAppState doesn't include messenger.com cookies"
I just trying the new features, for first time the change of color works (i set a black color), but after this i still get a response
[code]
I think its because using a "messenger.com" domain, what got another cookies as facebook.com.
I think we can fully move all request from facebook.com to messenger.com, messenger.com (i think) had all facebook.com scripts + more other scripts, and looks the me

[2016-03-13 10:04] Schmavery commented on #198
I think we might as well try to support both facebook.com and messenger.com, it should give us the biggest number of features.
The problem you're hitting is likely that we haven't yet handled the page where you allow messenger to login using facebook.  It's possible that some request happens on this page.  Basically this feature is still under development but you're welcome to contribute.

[2016-03-14 02:48] mjkaufer opened #200 "Release New Version Number"
Can we update the version number and push it to npm, now that the chat color and chat emoji changes have been implemented?

[2016-03-14 02:50] Schmavery commented on #198
Wait, is this when using appState to log in?

[2016-03-14 02:50] Schmavery commented on #200
This feature is still in development (see #124 and #198).  Feel free to sync to master if you want the latest features.

[2016-03-14 02:50] #200 closed

[2016-03-14 05:59] avikj commented on #187
I was having a similar problem but I updated my utils.js with this edit
https://github.com/Schmavery/facebook-chat-api/commit/192e635979fe71ee18dfbf6683beb52b70f3f8ae
and now it works as expected.

[2016-03-14 07:21] Schmavery commented on #187
Thanks for confirming @avikj

[2016-03-14 09:07] GAMELASTER commented on #198
Yep its an AppState, i fixed this by my pull request (what you closed), where at load I duplicated cookies and changed domain to messenger.com, because getAppState return only facebook.com cookies. Later I pull request with patch of getAppState.

[2016-03-14 17:45] Schmavery commented on #198
Ok.  Thanks for submitting a fix, but as I explained in the PR, I don't think this is the right way to fix the problem.  This shouldn't be too hard to fix and we'll try to get to it when possible.

[2016-03-14 18:10] mrkrumhausen opened #201 "Facebook security check"
I created a chatbot that receives and sends messages to users using a FB page. The bot is hosted on a server with a different IP than my personal pc. After posting a few messages, Facebook requires me to go through a security check every time I want to post a link, see screenshot
<img width="762" alt="screen shot 2016-03-14 at 18 14 19" src="https://cloud.githubusercontent.com/assets/2011006/13754

[2016-03-14 18:27] Schmavery commented on #201
This sucks, but obviously the point of this api isn't to circumvent captchas.
[This](https://www.facebook.com/notes/facebook-security/an-explanation-of-captchas/36280205765/) may be out of date, but it seems to indicate that the problem has more to do with spammy messaging behaviour or untrusted links...  Maybe try to minify the url using tinyurl or something?
There's a chance facebook has found a

[2016-03-14 18:27] #201 closed

[2016-03-14 18:29] Schmavery commented on #201
[This link](https://www.facebook.com/notes/facebook-engineering/fighting-spam-with-pure-functions/10151254986618920) may be even more relevant.

[2016-03-14 18:35] Schmavery commented on #198
@GAMELASTER can you confirm the [this change](https://github.com/Schmavery/facebook-chat-api/commit/b32c74e9952f679dcb05e69094bfc79046f5877c) fixes the problem?

[2016-03-14 18:44] mrkrumhausen commented on #201
Okay thanks. It's just a bunch of instagram links, so it should be untrusted links.

It must be connected either the IP or how the bot behaves (posts really fast)

[2016-03-14 18:50] Schmavery commented on #201
I would definitely suggest not spamming links ;)

[2016-03-14 18:51] bsansouci commented on #201
@mrkrumhausen You could try to send less links and throttle the speed of the response. We can't help bypass the spamming policies.

[2016-03-14 19:23] GAMELASTER commented on #198
@Schmavery appState login dont work still (after relog too, its saves only 2 messenger.com cookies (datr and something), but after relogin with email and pass, saving into appState is all fine

[2016-03-14 19:23] #198 closed

[2016-03-15 02:14] mehcode opened #202 "After a long while (~week) -- the API starts failing. Why???!?!?"
[code]

[2016-03-15 04:03] Schmavery commented on #202
Does it fail consistently after it starts?  Or do subsequent calls succeed?  It may be some transient issue?

[2016-03-15 09:08] keshavkaul commented on #46
@Schmavery @bsansouci
Is there anyway to know if cookie login failed due to expired cookies? Do i get an error callback if this fails? I'm trying to login with **only** cookies.

[2016-03-15 10:03] GAMELASTER commented on #46
@keshavkaul
In all request is used an "parseAndCheckLogin", so If your cookies expired, all requests throw exception "You are not logged in!"
https://github.com/Schmavery/facebook-chat-api/blob/master/utils.js#L542

[2016-03-15 18:20] mehcode commented on #202
Fails continuously. I have to restart / reconnect for it to start working again.

[2016-03-15 20:32] Schmavery commented on #202
Do you have api.listen() running during this time, or do you just periodically send messages?

[2016-03-15 21:30] mehcode commented on #202
`api.listen` is running as well.

[2016-03-16 09:26] HowardLoTW opened #203 "[Request] Update npm package to gain "read" event feature"
Hello,

Could you please update the npm package ?
Since my project is deployed to the heroku server, I need the npm module to have this new feature.

Thanks.

[2016-03-16 12:14] GAMELASTER commented on #203
#200 NPM update maybe will be after testing of change color and emoji. But I think it is ready to update, cookies for messenger.com is right, and I tested this functions alot and no problem

[2016-03-17 05:03] Schmavery commented on #203
Am I to understand that [this] (http://stackoverflow.com/questions/17509669/how-to-install-nodejs-package-from-github-directly) doesn't work on heroku?

[2016-03-17 16:59] TheRealUnknownDeveloper opened #204 "[Help Wanted]When im away from my keyboard bot to run and reply to new messages"
Hey there !

Is there a function that i can activate when im away from my keyboard to reply to all incoming messages with

UnknownDeveloper is inactive please contact him later ! If it's urgent contact him on the phone something like that.

Thanks and sorry for posting this in the wrong section/

[2016-03-17 17:33] bsansouci commented on #202
@Schmavery I might be wrong but I think this is the problem we were having before. My best guess was that the cookies get invalidated. If this is the case, the fix is easy: query www.facebook.com every once in a while. If it's not, then it might be some edge case event that we're not responding correctly to.

[2016-03-17 17:50] Schmavery commented on #204
Hey, this might be possible using the new `read` event, but I'm not entirely familiar with its behaviour.  I believe @HowardLoTW is attempting to do something similar.  You would need to keep track of incoming messages and watch to see if you read them from another device within a certain period of time.

I don't think it's possible to do this using status because right now the api appears as onli

[2016-03-17 18:40] CaughtEx opened #205 "removedUserFromGroup fails with (assuming) no permissions"
As you can see from the error below, I have had no luck in using api.removeUserFromGroup(userID, threadID). No matter who I try to kick from group conversations, it doesn't seem to kick them at all, instead saying that I don't have access to the page. This could be due to a fault of my own, but I'm using perfectly valid IDs (such as 100007996060303), which are obtained from something like api.getT

[2016-03-17 18:46] CaughtEx commented on #205
Ok, I've just realised this is my fault. Apologies

_Looks like I caught the exception_

[2016-03-17 18:47] Schmavery commented on #205
Awesome.  In the future, here are some things to check (I had already typed them when I saw your response so I figured why not).

Does addUser/sendMessage work using the same threadID?  Can you verify that the user was not, in fact, actually removed from the group even though the call failed?  We've had issues in the past with facebook returning error when the call was successful.

[2016-03-17 18:47] #205 closed

[2016-03-17 19:35] GAMELASTER commented on #204
Hi,
Use [WinApi](https://www.npmjs.com/package/winapi) package from NPM in timer, what will check a last Input time. When it is bigger than X seconds, login to facebook and all redirect... When its comeback, it will logout.. And loop!

Good Luck!

[2016-03-17 20:18] Schmavery commented on #202
Hopefully we can fix this so it stops coming back to haunt us #156 #168

[2016-03-17 23:43] GAMELASTER commented on #202
Im not sure, but after long time of listening of pulls is sometime executed an `ping` GET request with some arguments (also named a `sub`, I think the PING is used too)
[code]

[2016-03-18 00:33] bsansouci commented on #204
@GAMELASTER this is one way to do it, but you're assuming he's running the bot locally and on windows. @TheRealUnknownDeveloper I can see two ways of properly writing this:
1) we get an event when you go "offline" from FB's perspective, at which point we can pipe you the event so you can just set the options `{listenEvents: true, selfListen: true}` and you activate your automatic reply when you ge

[2016-03-18 06:16] HowardLoTW commented on #204
If `facebook-chat-api` could receive `offline` event, it would be easy to implement this functionality.
I saw that there's a api called `api.getOnlineUsers([callback])` and I was wondering that if it could aslo get yourself's status. If it could, that would solve your problem. Just "activate" your auto reply bot when you detect yourself is offline now. Or you can hack into the repo, checkout the f

[2016-03-18 06:28] GAMELASTER commented on #204
@bsansouci, yes. Also I did something similiar, I useda raspberry pi what sending sockets to my pc about last active input etc...

And it's another way. In messenger.com is option to get last active time, so u can use this.

[2016-03-18 06:52] GAMELASTER commented on #202
Maybe the auto request of Facebook.com every 12-24 hours will be best solution. But for sample,I using too messenger.com really long (I not shut down the PC, I sleeping my PC) with active instance of chat, and I never get a "refresh" of site(but it will be reconnected). I Will take look to reconnect function. But anyway, Ping is only sometimes executed (not always, not in every refresh)

[2016-03-18 09:42] mjmohammet opened #208 "Add guidelines section to README"
Hi,

Thank you for this interesting repo.

I tried this API on my personal account and another newly created account after several logins I got this error when log out from my personal account (and later on the other newly created account):

`ERR! Error in logout TypeError: Cannot read property '0' of undefined
ERR! Error in logout     at /facebook/node_modules/facebook-chat-api/src/logout.js:18:4

[2016-03-18 10:56] GAMELASTER commented on #208
Wow! Interesting. I created few days ago new Facebook account with fake name, anyway not blocked. Then my personal account I used too, and not banned yet. Maybe you get some reports in personal account and because using a library you got banned. My friend got blocked because fake name(not using library), he sent a photo of personal identification card and after day he got account back

[2016-03-18 11:00] GAMELASTER commented on #208
One more question, you logged still with credentials or your appState? Maybe if you log in with credentials more times in a low range of time, you got blocked.

[2016-03-18 11:03] TheRealUnknownDeveloper commented on #204
@GAMELASTER Sorry dude im on Mac maybe host it on linux to run all the time but I like @bsansouci ideas which are very nice. @HowardLoTW idea is good too and im not sure who's to choose since they are both good. And for your idea to use WinAPI i found another solution which is called the [AFK](https://www.npmjs.com/package/afk) module. If you other guys have other ideas sure post them here

[2016-03-18 11:04] mjmohammet commented on #208
mmm.. this is interesting. I am using pure credentials. How can I enable appState instead credentials?

[2016-03-18 11:08] GAMELASTER commented on #208
https://github.com/Schmavery/facebook-chat-api/blob/master/DOCS.md#login
Little under is example with using appstate

[2016-03-18 11:12] GAMELASTER commented on #204
Im sure it's something for mac too. But as I said upper, you can use from messengers information "Last active X minutes ago". If it isn't implemented yet in library,I Will do that.

[2016-03-18 18:08] Schmavery commented on #208
What are you doing with the api?

[2016-03-18 18:10] Schmavery commented on #204
I'm going to close this issue because it's not related to any problem or design of the api, but feel free to continue the discussion.

@GAMELASTER the api appears online when it's logged in... not sure how you're planning to make that work.

[2016-03-18 18:10] #204 closed

[2016-03-18 18:29] #203 closed

[2016-03-19 02:09] Schmavery commented on #203
npm is updated.

[2016-03-19 02:09] Schmavery commented on #200
npm is updated.

[2016-03-19 02:10] Schmavery commented on #187
Pushed this fix to npm.

[2016-03-19 02:10] #187 closed

[2016-03-19 05:27] HowardLoTW commented on #203
Thanks a ton !

[2016-03-19 15:56] mehcode commented on #208
Just want to chime in and say that I can confirm similar behavior if you do NOT use app state. It happens if you login repeatedly. I didn't try to narrow down exact parameters.

[2016-03-19 19:10] mjmohammet commented on #208
@Schmavery I'm building a bot that responds to questions based on some keywords. It is something for fun and if it is for spamming I would say so.

I doubt that the block is due to multiple sessions opened at the same time as I created two scripts one for each account.

I am going to try the appState. Thanks @GAMELASTER

[2016-03-19 20:52] TexAgg commented on #208
I have also had the same problem but I just had to enter a confirmation code to prove that I was a human. I think it happens if you log in too much.

[2016-03-19 22:57] GAMELASTER commented on #208
@mjmohammet I did a similiar bot in a fake profile, all works good, any ban i didnt get yet, and its used alot, so its for appState

[2016-03-19 23:41] Schmavery commented on #208
Awesome, thanks to everyone for chiming in.  I'm going to close this issue now because it seems like appState is a good workaround.

[2016-03-20 03:02] blazeu commented on #197
Reimplement [this](https://github.com/Schmavery/facebook-chat-api/blob/a4ca5a7056c45fe6c4243c53a5bb30fd35c1d1b6/src/listen.js#L182-L198) to use a caching system.

Then we could get the senderName from the stored participant data.

[2016-03-20 05:50] Schmavery commented on #197
We considered caching back when we implemented the fix for >5 participants and ended up decided it added a lot of complexity... might be worth revisiting the decision.  My main concern with caching is that it can be tricky to do it right.. and it frequently ends up making the system less transparent/predictable regarding memory and computation costs.  Doesn't mean it's impossible, that's just why

[2016-03-20 06:26] Schmavery commented on #208
As a followup, we're planning to add a section to the README with some guidelines to follow to minimize the cases of this happening.  We will recommend the use of appState and remind people to send messages responsibly :)

[2016-03-20 11:04] ghost opened #209 "Add getThreadInfo function."
Hello,

After reviewing the docs, I think there's no method to get the participants id directly in a thread...

The only method is to get a message event, and get them from "participantIDs" value.

Can you include them into the thread history function or into a new function like thread infos ?

[2016-03-20 20:25] andrecordeiro opened #210 "Error Connection Lost"
Because this error occurs ? The application runs for a long time , but always occurs this error. Can you help me please? What should I do to avoid ? Thank you very much.
![error_node](https://cloud.githubusercontent.com/assets/7633970/13906901/add24832-eec0-11e5-9b3d-105b66efef43.png)

[2016-03-21 00:03] mrkrumhausen commented on #201
Our service [Sure](besure.io) is similar to [Assist](assi.st) so we are sending Google, instagram links, etc. for each result. I'll see if I can figure something out. Thanks for the links.

[2016-03-21 03:15] PaulBGD commented on #210
This is an issue with the mysql project, not this project.

[2016-03-21 04:24] Schmavery commented on #210
@PaulBGD is probably right, in any case, without some minimum reproduceable code sample, it will be hard to troubleshoot this issue.

On second thought, what might be happening is that the api is throwing an exception that you're not catching.  Hard to tell.

[2016-03-21 07:27] Schmavery commented on #210
Hope you're able to fix your problem!  Please reopen if you can give some evidence that this is a problem with the api :)

[2016-03-21 07:27] #210 closed

[2016-03-21 07:28] Schmavery commented on #209
Hmm, it appears that you're right.  Too bad we didn't make the getThreadHistory simply a getThreadInfo that contains the history as a field... I think it would be reasonably to create a `getThreadInfo` function to cover this case. @bsansouci thoughts?